<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="-teammates-bg">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Booking</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Classes</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Members</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Booking</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Notifications</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Requests</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearFix wrap-content" data-ng-class="rightSidebar">
                <div class="col-lg-12 profile no-padding">
                    <div class="clearFix no-margin teammates-box clearFix" style="padding: 0;">
                        <div class="clearFix no-margin">
                            <div class="col-sm-12 no-padding">
                                <div class="clearFix no-margin game-box">
                                    <!-- infinite-scroll='infinitiGames()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="true" -->
                                    <ion-list>
                                        <ion-item ng-repeat="card in games_arr" item="item" class="item-remove-animate">
                                            <!-- href="#/lobby-tab/1" -->
                                            <div class="game-card">
                                                <div class="sport-img-box">
                                                    <div class="m{{card.gym_sport | sport_icon}}-icon-a icon-bg"></div>
                                                </div>
                                                <div class="item-content-box top25">
                                                    <div class="address">{{card.address}}</div>
                                                    <div class="time">{{card.date | day_notification}} at {{
                                                        card.start_time |
                                                        filterClockEN }}
                                                    </div>
                                                    <div class="max_countWrapper col-md-12 col-xs-6 no-padding">
                                                        <div class="members_count clearFix">
                                                            <div class="col_count"
                                                                 data-ng-class="{'full':(card.number_members==card.global_members), 'green':(member<card.global_members)}"
                                                                 data-ng-repeat="member in (card.members_range)"
                                                                 data-number="{{member}}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ion-option-button class="button-assertive watch_bg"
                                                               data-ng-click="detail(card.game_id)">
                                                <div class="btn_icon">
                                                    <i class="ion-information"></i>
                                                    <div class="btn-label">Detail</div>
                                                </div>
                                            </ion-option-button>
                                        </ion-item>
                                    </ion-list>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<aside class="right-sidebar">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="clearFix">
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="clearFix no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="filter.sport[1]" data-ng-change="findGames()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="filter.sport[2]" data-ng-change="findGames()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="filter.sport[3]" data-ng-change="findGames()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="filter.sport[4]" data-ng-change="findGames()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="filter.sport[5]" data-ng-change="findGames()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="filter.sport[6]" data-ng-change="findGames()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="filter.sport[7]" data-ng-change="findGames()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]"
                                       value="Baseball/Softball" data-ng-model="filter.sport[8]"
                                       data-ng-change="findGames()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="filter.sport[9]" data-ng-change="findGames()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="filter.sport[10]" data-ng-change="findGames()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="filter.sport[11]" data-ng-change="findGames()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                                       data-ng-model="filter.sport[12]" data-ng-change="findGames()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                                       data-ng-model="filter.sport[13]" data-ng-change="findGames()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                                       data-ng-model="filter.sport[14]" data-ng-change="findGames()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                                       data-ng-model="filter.sport[15]" data-ng-change="findGames()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                                       data-ng-model="filter.sport[16]" data-ng-change="findGames()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="clearFix no-margin">
                        <div class="filter-title"></div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="accessAll" name="filter-access" value="All"
                                           data-ng-model="filter.access" data-ng-change="findGames()">
                                    <label for="accessAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPublic" name="filter-access" value="Public"
                                           data-ng-model="filter.access" data-ng-change="findGames()">
                                    <label for="accessPublic" class="distance10">Public</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPrivate" name="filter-access" value="Private"
                                           data-ng-model="filter.access" data-ng-change="findGames()">
                                    <label for="accessPrivate" class="distance25">Private</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-margin clearFix">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" ng-model="filter.dt" pick-a-date="date"
                                   pick-a-date-options="dt_options" value="{{ date }}"/>
                        </div>
                    </div>
                    <div class="clearFix no-margin">
                        <div class="filter-title">Start time{{startTime.value}}</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="startTime.value"
                                      rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="clearFix no-margin">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="clearFix no-margin">
                        <div class="filter-title">Age</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue"
                                      rz-slider-options="ageSlider.options"></rzslider>
                        </div>
                    </div>
                    <div class="clearFix no-margin">
                        <div class="filter-title">Gender</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="genderAll" name="filter-gender" value="All"
                                           data-ng-model="filter.gender" data-ng-change="findGames()">
                                    <label for="genderAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderMale" name="filter-gender" value="Male"
                                           data-ng-model="filter.gender" data-ng-change="findGames()">
                                    <label for="genderMale" class="distance10">Male</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderFemale" name="filter-gender" value="Female"
                                           data-ng-model="filter.gender" data-ng-change="findGames()">
                                    <label for="genderFemale" class="distance25">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>