<ion-view>
    <ion-content>
        <div class="bg1 chat-box">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Chat</div>
                <div class="col-xs-2">
                    <button class="chatDeclineButton pull-right"
                            data-ng-show="room.chat_room_status == 1"
                            data-ng-click="leaveChatRoom(room)"><i class="ion-ios-close-outline"></i></button>
                </div>
            </div>
            <div class="wrap-content">
                <div class="col-xs-2">
                    <div class="top25 previous-btn"><a data-ui-sref="app.messages"><img src="img/prev-state.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="sport">{{room.gym_sport}}</div>
                </div>

                <div class="col-xs-12 profile no-padding">
                    <div style="height:80vh">
                        <div class="col-xs-12 chatGameInfo">
                            <div class="address"><i class="ion-ios-location"></i>{{room.address}}</div>
                            <div class="start_time"><i class="ion-android-time"></i>{{room.date | day_notification}} at
                                {{ room.start_time | filterClockEN }}
                            </div>
                        </div>
                        <div class="clearFix">

                        </div>
                        <!-- data-ng-scrollbar rebuild-on-resize rebuild-on="rebuild" -->
                        <div data-ng-scrollbar rebuild-on-resize rebuild-on="rebuild" bottom on-top="getChat()" class="chat-box_messages" style="height:75vh;width:100%;">
                            <div class style="text-align:center" ng-if="loading">
                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                            </div>
                            <div data-ng-repeat="message in messages" repeat-end="end()" class="clearFix"
                                 ng-class="{'new': !message.viewed}" style="padding:20px 15px 15px 15px;">
                                <div data-ng-if="user_id != message.sender_id">
                                    <div class="col-xs-3">
                                        <div class="chatUserContainerInfo" style="border-right:1px solid #e7e7e7;">
                                            <div class="col-xs-12">
                                                <div class="col-xs-12"
                                                     style="padding:0px;">
                                                    <div class="avatar"
                                                         style="height:50px;width:50px;z-index: 7; background: url('{{ message.avatar | avatar_type }}');"
                                                         data-ng-if="message.avatar != ''"></div>
                                                    <div class="avatar"
                                                         style="height:50px;width:50px;z-index: 7; background: url('img/no_avatar_vopros.jpg');"
                                                         data-ng-if="message.avatar == ''"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-9chatContainerInfo">
                                        <div class="col-sm-12 chatMessage" style="padding:0px;">
                                            {{message.message}}
                                        </div>
                                        <div class="col-sm-12" style="padding:0px;">
                                            <div class="thumbnail col-xs-2" data-ng-if="message.attachments.length"
                                                 repeat-end="end()"
                                                 ng-repeat="att in message.attachments track by $index"
                                                 style="margin-bottom:0px;">
                                                <img data-ng-src="{{att | avatar_type}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 chatMessageDate" style="margin-top: 2px; padding:0px;">
                                            <i>{{message.date | day_notification}}</i>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                                <div data-ng-if="user_id == message.sender_id">
                                    <div class="col-xs-9 chatContainerInfo">
                                        <div class="col-sm-12 chatMessage" style="padding:0px;">
                                            {{message.message}}
                                        </div>
                                        <div class="col-sm-12" style="padding:0px;">
                                            <div class="thumbnail col-xs-2" data-ng-if="message.attachments.length"
                                                 repeat-end="end()"
                                                 ng-repeat="att in message.attachments track by $index"
                                                 style="margin-bottom:0px;">
                                                <img data-ng-src="{{att | avatar_type}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 chatMessageDate" style="margin-top: 2px; padding:0px;">
                                            <i>{{message.date}}</i>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="chatUserContainerInfo" style="border-right:1px solid #e7e7e7;">
                                            <div class="col-xs-12">
                                                <div class="col-xs-12"
                                                     style="padding:0px;">
                                                    <div class="avatar"
                                                         style="height:50px;width:50px;z-index: 7; background: url('{{ message.avatar | avatar_type }}');"
                                                         data-ng-if="message.avatar != ''"></div>
                                                    <div class="avatar"
                                                         style="height:50px;width:50px;z-index: 7; background: url('img/no_avatar_vopros.jpg');"
                                                         data-ng-if="message.avatar == ''"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding:0;position:relative;">
                            <div class="typing-container"
                                 style="width:100%;background-color:white;height:auto;margin-top:0px;padding-top:5px;padding-bottom:5px;position:absolute;bottom:0px"
                                 data-ng-repeat="user in usersTyping">
                                <div class="col-sm-12 no-padding">
                                    <div>
                                        <div class="col-xs-2 no-padding" style="width: 60px;">
                                            <div>
                                                <div class="col-sm-5">
                                                    <div class="avatar"
                                                         style="height:30px;width:30px;z-index: 7;border: 1px solid white; background: url('{{ teammates_arr[findWithAttr(teammates_arr,'id',user)].avatar | avatar_type }}');"
                                                         data-ng-if="message.avatar != ''"></div>
                                                </div>
                                                <!--<div class="col-sm-7">
                                                    {{teammates_arr[findWithAttr(teammates_arr,'id',user)].first_name}}
                                                    {{teammates_arr[findWithAttr(teammates_arr,'id',user)].last_name}}
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <div style="float:left;height:30px; line-height: 30px;font-style: italic;">Typing</div>
                                            <div style="float:left;height:30px;box-sizing: border-box;padding-top: 18px" class="typing-indicator newTypingStyle">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div ng-if="room.chat_room_status" class="no-margin text-center"
                             style="min-height: 11vh;box-sizing: border-box;  padding-top:20px;padding-bottom: 2.5vh;background-color: #4d4e63;"
                             flow-name="data.flow" data-flow-init="{target: url,singleFile:false}"
                             data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                             data-flow-files-submitted="$flow.upload()"
                             data-flow-file-success="file_uploaded($file, $message, $flow)">
                            <div class="col-xs-12">
                                <div class="thumbnail col-xs-2" data-ng-show="$flow.files.length"
                                     ng-click="remove($index)" ng-repeat="file in $flow.files">
                                    <img data-flow-img="file"/>
                                </div>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <img src="img/icon/chat_photo.png" style="width:25px;cursor:pointer;" data-flow-btn
                                     data-flow-attrs="{accept:'image/*'}">
                                <!--<i class="btn fa fa-camera" data-flow-btn
                                    data-flow-attrs="{accept:'image/*'}"></i> -->
                            </div>
                            <div class="col-xs-8">
                                <textarea style="background-color:transparent;border:0px;width:100%;color:white;"
                                          class="chatInput" placeholder="Type Message..." data-ng-model="send.message"
                                          data-ng-change="typingStart(user_id)" type="text"
                                          my-enter="sendMessage()"/></textarea>
                            </div>
                            <div class="col-xs-2">
                                <img src="img/icon/chat_message.png" style="width:25px;cursor:pointer;"
                                     data-ng-click="sendMessage()">
                                <!--<i class="btn fa fa-paper-plane" data-ng-click="sendMessage()"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>