<div class="confirmBg">
    <div class="confirmQuest">
        Do you want to cancel your membership?
    </div>
    <div class="col-xs-6 col-xs-offset-3">
        <button type="button" name="button" class="confirmButton" data-ng-click="confirmCheck(true)">Yes, I confirm</button>
    </div>

</div>
