<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px; "></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">{{ club_cards.name }}</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="wrap-content" data-ng-class="rightSidebar">
                <div class="col-lg-12 profile no-padding" style="padding-bottom: 15px;">
                    <div class="search-clubs-box no-margin clubPage-box">
                        <div class="cub-card clearFix" data-ng-show="club_cards.name != ''">
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <span class="card-name">
                                        <i class="fa fa-lock" aria-hidden="true"
                                           data-ng-show="club_cards.type == 'private'"></i>
                                        <i class="fa fa-unlock-alt" aria-hidden="true"
                                           data-ng-show="club_cards.type == 'public'"></i>
                                        {{ club_cards.name }}
                                    </span>
                                </div>
                                <div class="card-address">{{club_cards.address}}</div>
                                <div class="col-xs-12">
                                    <div data-ng-show="club_cards.distance" class="card-miles">{{club_cards.distance}} miles away</div>
                                </div>
                                <div class="col-xs-12">
                                    <div data-ng-show="club_cards.phone" class="card-phone">Phone: {{club_cards.phone}}</div>
                                    <div data-ng-show="club_cards.email" class="card-email">Email: {{club_cards.email}}</div>
                                    <div data-ng-show="club_cards.website" class="card-website">Website: {{club_cards.website}}</div>
                                </div>
                            </div>
                            <div class="col-xs-12 no-padding clubsPage-gmaps clearFix">
                                <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options"
                                                    draggable="true">
                                    <ui-gmap-marker data-coords="marker.coords" data-options="marker.options" data-idkey="marker.id">

                                    </ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                            <div class="col-xs-12">
                                <div class="card-sports-group">
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Basketball') >= 0)"
                                            src="img/sports/sport1.png" alt="sport1">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Basketball') >= 0)"
                                             src="img/sports/sport1_h.png"
                                             alt="sport1"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Volleyball') >= 0)"
                                            src="img/sports/sport2.png" alt="sport2">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Volleyball') >= 0)"
                                             src="img/sports/sport2_h.png"
                                             alt="sport2"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Soccer') >= 0)"
                                            src="img/sports/sport3.png" alt="sport3">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Soccer') >= 0)"
                                             src="img/sports/sport3_h.png"
                                             alt="sport3"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Bubble Soccer') >= 0)"
                                            src="img/sports/sport4.png" alt="sport4">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Bubble Soccer') >= 0)"
                                             src="img/sports/sport4_h.png"
                                             alt="sport4"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Football') >= 0)"
                                            src="img/sports/sport5.png" alt="sport5">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Football') >= 0)"
                                             src="img/sports/sport5_h.png"
                                             alt="sport5"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Tennis') >= 0)"
                                            src="img/sports/sport6.png" alt="sport6">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Tennis') >= 0)"
                                             src="img/sports/sport6_h.png"
                                             alt="sport6"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Hockey') >= 0)"
                                            src="img/sports/sport7.png" alt="sport7">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Hockey') >= 0)"
                                             src="img/sports/sport7_h.png"
                                             alt="sport7"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Baseball/Softball') >= 0)"
                                            src="img/sports/sport8.png" alt="sport8">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Baseball/Softball') >= 0)"
                                             src="img/sports/sport8_h.png"
                                             alt="sport8"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Racquetball') >= 0)"
                                            src="img/sports/sport9.png" alt="sport9">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Racquetball') >= 0)"
                                             src="img/sports/sport9_h.png"
                                             alt="sport9"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Zumba') >= 0)"
                                            src="img/sports/class1.png" alt="class1">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Zumba') >= 0)"
                                             src="img/sports/class1_h.png"
                                             alt="class1"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Yoga') >= 0)"
                                            src="img/sports/class2.png" alt="class2"><img
                                            data-ng-show="(club_cards.sports.split(',').indexOf('Yoga') >= 0)"
                                            src="img/sports/class2_h.png" alt="class2"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Pilates') >= 0)"
                                            src="img/sports/class3.png" alt="class3">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Pilates') >= 0)"
                                             src="img/sports/class3_h.png"
                                             alt="class3"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Boxing') >= 0)"
                                            src="img/sports/class4.png" alt="class4">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Boxing') >= 0)"
                                             src="img/sports/class4_h.png"
                                             alt="class4"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Kickboxing') >= 0)"
                                            src="img/sports/class5.png" alt="class5">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Kickboxing') >= 0)"
                                             src="img/sports/class5_h.png"
                                             alt="class5"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Jazzercise') >= 0)"
                                            src="img/sports/class6.png" alt="class6">
                                        <img data-ng-show="(club_cards.sports.split(',').indexOf('Jazzercise') >= 0)"
                                             src="img/sports/class6_h.png"
                                             alt="class6"></div>
                                    <div class="card-sport"><img
                                            data-ng-show="!(club_cards.sports.split(',').indexOf('Spin') >= 0)"
                                            src="img/sports/class7.png" alt="class7"><img
                                            data-ng-show="(club_cards.sports.split(',').indexOf('Spin') >= 0)"
                                            src="img/sports/class7_h.png" alt="class7"></div>
                                </div>
                            </div>
                            <div class=" clearFix">
                                <div class="col-xs-12 clearFix">
                                    <div style="padding: 0 4px;">
                                        <slick infinite="true" dots="false" arrows="false" responsive="breakpoints" slides-to-show="7" slides-to-scroll="3" class="col-xs-12 no-padding text-center">
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.mon}">
                                                <div>Mon</div>
                                                <div data-ng-show="!club_cards.hours.mon">Not working</div>
                                                <div data-ng-show="club_cards.hours.mon">{{club_cards.hours.mon.start | filterClock}} <br> {{club_cards.hours.mon.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.tue}">
                                                <div>Tue</div>
                                                <div data-ng-show="!club_cards.hours.tue">Not working</div>
                                                <div data-ng-show="club_cards.hours.tue">{{club_cards.hours.tue.start  | filterClock}} <br> {{club_cards.hours.tue.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.wed}">
                                                <div>Wed</div>
                                                <div data-ng-show="!club_cards.hours.wed">Not working</div>
                                                <div data-ng-show="club_cards.hours.wed">{{club_cards.hours.wed.start | filterClock}} <br> {{club_cards.hours.wed.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.thu}">
                                                <div>Thu</div>
                                                <div data-ng-show="!club_cards.hours.thu">Not working</div>
                                                <div data-ng-show="club_cards.hours.thu">{{club_cards.hours.thu.start | filterClock}} <br> {{club_cards.hours.thu.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.fri}">
                                                <div>Fri</div>
                                                <div data-ng-show="!club_cards.hours.fri">Not working</div>
                                                <div data-ng-show="club_cards.hours.fri">{{club_cards.hours.fri.start | filterClock}} <br> {{club_cards.hours.fri.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.sat}">
                                                <div>Sat</div>
                                                <div data-ng-show="!club_cards.hours.sat">Not working</div>
                                                <div data-ng-show="club_cards.hours.sat">{{club_cards.hours.sat.start | filterClock}} <br> {{club_cards.hours.sat.end | filterClock}}</div>
                                            </div>
                                            <div class="work_day-hour" data-ng-class="{'works_hour': club_cards.hours.sun}">
                                                <div>Sun</div>
                                                <div data-ng-show="!club_cards.hours.sun">Not working</div>
                                                <div data-ng-show="club_cards.hours.sun">{{club_cards.hours.sun.start | filterClock}} <br> {{club_cards.hours.sun.end | filterClock}}</div>
                                            </div>
                                        </slick>
                                    </div>
                                    <div class="clearFix">
                                        <div class="col-xs-6">
                                            <div class="card-members text-left">
                                                Members {{club_cards.members | number:0}}
                                            </div>
                                        </div>
                                        <!--<div class="col-xs-6 text-right">
                                            <a href="/#/club-page/{{club_cards.id}}" class="card-more"><i class="fa fa-info-circle"
                                                                                                    aria-hidden="true"></i> more</a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button data-ng-if="!club_cards.favorite" data-ng-click="addFavorite(club_cards.id)"
                                        class="card-request-favorite">
                                    <i class="fa  fa-star" aria-hidden="true"></i>
                                </button>
                                <button data-ng-if="club_cards.favorite"
                                        data-ng-click="removeFavorite(club_cards.id)"
                                        class="card-request-favorite-add">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-xs-8">
                                <button data-ng-if="card.me_member == 0" class="card-request-membership" data-ng-click="requestMembership(card.id, index, card.price, card.name, card.type)">
                                    <div ng-if="!clubReguest">
                                        <i class="fa fa-user-plus lg" aria-hidden="true"></i>

                                        <span data-ng-if="card.price > 0">{{card.price}}$</span>
                                        <span>Request Membership</span>
                                    </div>
                                    <span class="pending" data-ng-if="clubReguest">Pending</span>
                                </button>
                                <button data-ng-if="card.me_member != 0" class="card-request-membership" data-ng-click="removeMembership(card.id, index)">
                                    <div data-ng-if="!clubReguest">
                                        <i class="fa fa-user-times lg" aria-hidden="true"></i>
                                        <span>Member</span>
                                    </div>
                                    <span class="pending" data-ng-if="clubReguest">Pending</span>
                                </button>
                            </div>
                            <div style="clear: both;'"></div>
                            <div class="col-sm-12 no-margin gym-filter-box ">
                                <div class="group-filters-gyms" data-ng-if="games_arr.length > 0"
                                     style="line-height: 38px; text-align: center; background-color: #f54f75;color:white; margin-bottom: 30px;">
                                    Games
                                </div>
                                <div class="no-margin" style="margin: 0 -39px;">
                                    <div class="col-lg-12 profile no-padding">
                                        <div class="no-margin game-box">
                                            <ion-list>
                                                <ion-item ng-repeat="card in games_arr" item="item" class="item-remove-animate" data-ng-click="detail(card.game_id)">
                                                    <!-- href="#/lobby-tab/1" -->
                                                    <div class="game-card">
                                                        <div class="sport-img-box">
                                                            <div class="m{{card.gym_sport | sport_icon}}-icon-a icon-bg"></div>
                                                        </div>
                                                        <div class="item-content-box">
                                                            <div class="content-data">
                                                                <div class="address">{{card.address}}</div>
                                                                <div class="time">{{card.date | day_notification}} at {{ card.start_time | filterClockEN }}
                                                                </div>
                                                                <div class="max_countWrapper col-md-12 col-xs-6 no-padding">
                                                                    <div class="members_count clearFix">
                                                                        <div class="col_count" data-ng-class="{'full':(card.number_members==card.global_members), 'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="time-red">
                                                                {{ card.start_time | filterClockEnNumber }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ion-option-button class="button-assertive watch_bg" ng-click="watchGame(card, card.game_id, (card.my_watch == 0)?1:0)">
                                                        <div class="btn_icon" ng-if="card.my_watch == 0">
                                                            <i class="ion-eye"></i>
                                                            <div class="btn-label">Watch</div>
                                                        </div>
                                                        <div class="btn_icon" ng-if="card.my_watch == 1">
                                                            <i class="ion-eye-disabled"></i>
                                                            <div class="btn-label">Unwatch</div>
                                                        </div>
                                                    </ion-option-button>
                                                </ion-item>
                                            </ion-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<aside class="right-sidebar" ng-class="hintS == '1' ? 'hintRightFilterBlock' : '' " is-enabled="true">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div>
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="no-margin clearFix">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball" data-ng-model="filter.sport[1]" data-ng-change="setFilter()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball" data-ng-model="filter.sport[2]" data-ng-change="setFilter()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer" data-ng-model="filter.sport[3]" data-ng-change="setFilter()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer" data-ng-model="filter.sport[4]" data-ng-change="setFilter()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football" data-ng-model="filter.sport[5]" data-ng-change="setFilter()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis" data-ng-model="filter.sport[6]" data-ng-change="setFilter()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey" data-ng-model="filter.sport[7]" data-ng-change="setFilter()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball" data-ng-model="filter.sport[8]" data-ng-change="setFilter()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball" data-ng-model="filter.sport[9]" data-ng-change="setFilter()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba" data-ng-model="filter.sport[10]" data-ng-change="setFilter()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga" data-ng-model="filter.sport[11]" data-ng-change="setFilter()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates" data-ng-model="filter.sport[12]" data-ng-change="setFilter()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing" data-ng-model="filter.sport[13]" data-ng-change="setFilter()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing" data-ng-model="filter.sport[14]" data-ng-change="setFilter()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise" data-ng-model="filter.sport[15]" data-ng-change="setFilter()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin" data-ng-model="filter.sport[16]" data-ng-change="setFilter()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="no-margin clearfix">
                        <div class="filter-title"></div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="accessAll" name="filter-access" value="All"
                                           data-ng-model="game_filter.access" data-ng-change="setFilter()">
                                    <label for="accessAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPublic" name="filter-access" value="Public"
                                           data-ng-model="game_filter.access" data-ng-change="setFilter()">
                                    <label for="accessPublic" class="distance10">Public</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPrivate" name="filter-access" value="Private"
                                           data-ng-model="game_filter.access" data-ng-change="setFilter()">
                                    <label for="accessPrivate" class="distance25">Private</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" ng-model="filter.dt" pick-a-date="date" pick-a-date-options="dt_options" value="{{ date }}"/>
                        </div>
                    </div>
                    <div class="no-margin clearfix">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="startTime.value"
                                      rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Age</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue"
                                      rz-slider-options="ageSlider.options"></rzslider>


                        </div>
                    </div>

                    <div class="no-margin clearFix">
                        <div class="filter-title">Gender</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="genderAll" name="filter-gender" value="All"
                                           data-ng-model="game_filter.gender" data-ng-change="setFilter()">
                                    <label for="genderAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderMale" name="filter-gender" value="Male"
                                           data-ng-model="game_filter.gender" data-ng-change="setFilter()">
                                    <label for="genderMale" class="distance10">Male</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderFemale" name="filter-gender" value="Female"
                                           data-ng-model="game_filter.gender" data-ng-change="setFilter()">
                                    <label for="genderFemale" class="distance25">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Sort</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="sortSoonest" name="filter-sort" value="Soonest"
                                           data-ng-model="game_filter.sort" data-ng-change="setFilter()">
                                    <label for="sortSoonest" class="sortSoonest">Soonest</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="sortNearest" name="filter-sort" value="Nearest"
                                           data-ng-model="game_filter.sort" data-ng-change="setFilter()">
                                    <label for="sortNearest" class="sortNearest">Nearest</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>
