<ion-view>
    <ion-content>
        <div class="bg2 clearFix" style="padding-bottom: 30px">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Court item</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Classes</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Members</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Booking</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Notifications</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Requests</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="club.create">
                <div class="clearFix no-margin padding30 text-center top25">
                    <div class="col-md-12 gv-inform-text">
                        <span>Your request to add the club has been sent to the administrator. Expect a response in the near future.</span>
                    </div>
                </div>
            </div>
            <div class="clearFix">
                <div class="col-xs-12 gyms-box manage-box" data-ng-repeat="gym_up in gymsObj">
                    <form name="editClubForm" ng-submit="update_gym(gym_up, gym_up.id)" class="update-box">
                        <div class="manage-box">
                            <div class="clearFix">
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="gym-enter-name">Enter name</label>
                                    </div>
                                    <div class="col-xs-9 no-padding"><input type="text" id="gym-enter-name"
                                                                            data-ng-model="gym_up.name"></div>
                                </div>
                                <div class="col-md-3 club-control top25">
                                    <div class="radio-box">
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="gym-enter-private"
                                                   class="gym-enter-private" value="private"
                                                   data-ng-model="gym_up.type">
                                            <label for="gym-enter-private">Private</label>
                                        </div>
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="gym-enter-public"
                                                   class="gym-enter-public" value="public"
                                                   data-ng-model="gym_up.type">
                                            <label for="gym-enter-public">Public</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearFix">
                                <div class="col-md-9 club-control head-text">Choose type</div>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-12" data-ng-show="gym_up.gym_type == 'Gym'">
                                    <div class="gym-type-group">
                                        <input type="radio" name="gym-type" id="gym-enter-basketball" value="Gym"
                                               data-ng-model="gym_up.gym_type">
                                        <label for="gym-enter-basketball">
                                            <span>Gym</span>
                                            <img src="img/gym-type.png" alt="gym">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6" data-ng-show="gym_up.gym_type == 'Class'">
                                    <div class="gym-type-group">
                                        <input type="radio" name="gym-type" id="gym-enter-soccer" value="Class"
                                               data-ng-model="gym_up.gym_type">
                                        <label for="gym-enter-soccer">
                                            <span>Class</span>
                                            <img src="img/class-type.png" alt="class">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding">
                                    <div class="col-xs-12 club-control gym-control no-padding">
                                        <div class="col-xs-6">
                                            <label for="gym-enter-price">Non-Member Price/Hr</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" id="gym-enter-price"
                                                   data-ng-model="gym_up.price">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control gym-control no-padding">
                                        <div class="col-xs-6">
                                            <label for="gym-enter-price_for_member">Member Price/Hr</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" id="gym-enter-price_for_member"
                                                   data-ng-model="gym_up.price_for_member">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control no-padding" style="margin-top: 10px;">
                                        <div class="col-xs-6 ">
                                            <label for="gym-enter-members">Max Players</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" id="gym-enter-members"
                                                   data-ng-model="gym_up.number_members">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control no-padding" style="margin-top: 10px;">
                                        <div class="col-xs-6">
                                            <label for="gym-enter-min-members">Min Players</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" id="gym-enter-min-members"
                                                   data-ng-model="gym_up.min_members">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearFix">
                                <div class="clearFix club-control head-text select-text">Select Sport</div>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-12 no-padding">
                                    <div class="col-xs-11 col-sm-offset-1 no-padding">
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport1" name="select-sport" value="Basketball"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport1" class="sport1-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport2" name="select-sport" value="Volleyball"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport2" class="sport2-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport3" value="Soccer" name="select-sport"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport3" class="sport3-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport4" value="Bubble Soccer"
                                                   name="select-sport" data-ng-model="gym_up.gym_sport">
                                            <label for="sport4" class="sport4-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport5" value="Football" name="select-sport"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport5" class="sport5-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport6" value="Tennis" name="select-sport"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport6" class="sport6-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport7" value="Hockey" name="select-sport"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport7" class="sport7-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport8" value="Baseball/Softball"
                                                   name="select-sport" data-ng-model="gym_up.gym_sport">
                                            <label for="sport8" class="sport8-icon">

                                            </label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="sport9" value="Racquetball" name="select-sport"
                                                   data-ng-model="gym_up.gym_sport">
                                            <label for="sport9" class="sport9-icon">

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearFix" style="margin-top: 25px;">
                                <div class="col-sm-12 informer-text">
                                    <div ng-show="success_text">
                                        <span>{{inform_text}}</span>
                                    </div>
                                    <div ng-show="loading_spiner">
                                        Gym/Class update... <i
                                            class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-6">
                                    <button type="button" class="green_btn" data-ng-click="createGame(gym_up.id)"><i
                                            class="fa fa-gamepad" aria-hidden="true"></i> Create Game
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button id="update_gym_btn">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearFix createdGames-box">
                        <div class="buttons" data-ng-if="gameList.length > 0">
                            <button class="button button-icon icon ion-ios-minus-outline" style="color: #f73267;"
                                    ng-click="data.showDelete = !data.showDelete;"> <span style="font-size: 18px;">Delete Games</span></button>
                        </div>
                        <ion-list show-delete="data.showDelete">
                            <ion-item class="game-card_list no-margin" data-ng-repeat="(index, game) in gameList">
                                <ion-delete-button class="ion-minus-circled"
                                                   ng-click="deleteGame(game, game.game_id)">
                                </ion-delete-button>
                                <div class="game_cell"><span>Court: </span> {{game.name}}
                                </div>
                                <div class="game_cell"><span>Start Date: </span> {{game.date
                                    | date:"mediumDate"}}
                                </div>
                                <div class="game_cell"><span>Start Time: </span> {{game.start_time
                                    | filterClock}}
                                </div>
                                <div class="game_cell"><span>End Time: </span> {{game.end_time
                                    | filterClock}}
                                </div>
                                <div class="game_cell"><span>Min/Max Players: </span>
                                    {{game.min_members}}/{{game.number_members}}
                                </div>
                                <div class="game_cell">
                                    <span> NON-Member Price/Hr: </span> {{game.price_hours | currency}}
                                </div>
                                <div class="game_cell"><span>Member Price/Hr: </span>
                                    {{game.price_member | currency}}
                                </div>
                                <div class="game_cell"><span>Join members: </span>
                                    {{game.members_json.count}}
                                </div>
                                <div class="game_cell"><span>Total Amount: </span>
                                    {{game.members_json.sum | currency}}
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>