<ion-view>
    <ion-content>
        <div class="bg2 clearFix" style="padding-bottom: 30px">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Courts</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}" ui-sref-active="active" >Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Classes</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Members</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Booking</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Notifications</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Requests</label></div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="club.create">
                <div class="no-margin padding30 text-center top25">
                    <div class="col-md-12 gv-inform-text">
                        <span>Your request to add the club has been sent to the administrator. Expect a response in the near future.</span>
                    </div>
                </div>
            </div>
            <div data-ng-show="!create_new">
                <div class="col-xs-8 col-xs-offset-2">
                    <button class="green_btn" data-ng-click="add_new()">Add new</button>
                </div>
            </div>
            <div class="clearFix">
                <div class="col-xs-12 gyms-box manage-box" data-ng-show="create_new">
                    <form name="editClubForm" ng-submit="add_gym(gym)">
                        <div class="manage-box">
                            <div class="clearFix">
                                <div class="col-xs-12 club-control">
                                    <div class="col-xs-12 no-padding"><label for="gym-enter-name">Enter name</label>
                                    </div>
                                    <div class="col-xs-12 no-padding"><input type="text" id="gym-enter-name"
                                                                             data-ng-model="gym.name"></div>
                                </div>
                                <div class="col-xs-12 club-control">
                                    <div class="radio-box">
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="gym-enter-private"
                                                   class="gym-enter-private" value="private"
                                                   data-ng-model="gym.type">
                                            <label for="gym-enter-private">Private</label>
                                        </div>
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="gym-enter-public"
                                                   class="gym-enter-public" value="public"
                                                   data-ng-model="gym.type">
                                            <label for="gym-enter-public">Public</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col-xs-12 club-control head-text">Choose type</div>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-12">
                                    <div class="gym-type-group">
                                        <input type="radio" name="gym-type" id="gym-enter-soccer" value="Class"
                                               data-ng-model="gym.add_gym_type">
                                        <label for="gym-enter-soccer">
                                            <span>Class</span>
                                            <img src="img/class-type.png" alt="soccer">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding" style="margin-top: 5px;">
                                    <div class="col-xs-12 club-control gym-control no-padding">
                                        <div class="col-xs-12">
                                            <label for="gym-enter-price">NON-Member Price / Hr</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" id="gym-enter-price" data-ng-model="gym.price">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control gym-control no-padding">
                                        <div class="col-xs-12">
                                            <label for="gym-enter-price_for_member">Member Price / Hr</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" id="gym-enter-price_for_member"
                                                   data-ng-model="gym.price_for_member">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control no-padding" style="margin-top: 10px;">
                                        <div class="col-xs-12">
                                            <label for="gym-enter-members">Max. Players
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" id="gym-enter-members" data-ng-model="gym.members">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 club-control no-padding" style="margin-top: 10px;">
                                        <div class="col-xs-12">
                                            <label for="gym-enter-min-members">Min. Players
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="text" id="gym-enter-min-members"
                                                   data-ng-model="gym.min_members">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 20px">
                                <div class="club-control head-text select-text">Select Sport</div>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-12 no-padding">
                                    <div class="col-xs-11 col-sm-offset-1 no-padding">
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class1" name="select-sport" value="Zumba"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class1" class="class1-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class2" name="select-sport" value="Yoga"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class2" class="class2-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class3" value="Pilates" name="select-sport"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class3" class="class3-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class4" value="Boxing" name="select-sport"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class4" class="class4-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class5" value="Kickboxing" name="select-sport"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class5" class="class5-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class6" value="Jazzercise" name="select-sport"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class6" class="class6-icon"></label>
                                        </div>
                                        <div class="col-xs-1 sport-type">
                                            <input type="radio" id="class7" value="Spin" name="select-sport"
                                                   data-ng-model="gym.gym_sport">
                                            <label for="class7" class="class7-icon"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button id="edit_gym_btn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 gyms-box manage-box" data-ng-repeat="item in gymsObj">
                    <div class="update-box no-margin club-item_box clearFix">
                        <div class="col-xs-12 top25" style="text-align: center">
                            <div class="m{{item.gym_sport.replace('/', '-')}}-icon-a icon-bg"></div>
                        </div>
                        <div class="col-xs-12 top25">
                            <div class="col-xs-6 no-padding">
                                <div class="court_name">{{item.name}}</div>
                            </div>
                            <div class="col-xs-6 no-padding">
                                <div class="court_access" data-ng-if="item.type == 'private'"><i class="fa fa-lock"
                                                                                                 aria-hidden="true"></i>
                                    Private
                                </div>
                                <div class="court_access" data-ng-if="item.type == 'public'"><i class="fa fa-unlock"
                                                                                                aria-hidden="true"></i>
                                    Public
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="court_price">
                                NON-Member Price / Hr <i class="fa fa-usd" aria-hidden="true" uib-tooltip='Price'></i>{{item.price}}
                            </div>
                            <div class="court_price">
                                Member Price / Hr <i class="fa fa-usd" aria-hidden="true" uib-tooltip='Price for members'></i>{{item.price_for_member}}
                            </div>
                            <div class="court_price">
                                Max. Players <i class="fa fa-users" aria-hidden="true" uib-tooltip='Maximum members'></i> {{item.number_members}}
                            </div>
                            <div class="court_price">
                                Min. Players <i class="fa fa-chevron-left" aria-hidden="true" uib-tooltip='Minimum members'></i> {{item.min_members}}
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <!--div class="col-md-8 col-xs-12">
                            <button class="green_btn" style="margin-top: 25px;"><i class="fa fa-plus" aria-hidden="true"></i> Create Game</button>
                        </div>-->
                            <div class="col-xs-12">
                                <button class="reserve top25" data-ng-click="manage(item.id)"><i class="fa fa-pencil"
                                                                                                 aria-hidden="true"></i>
                                    Manage
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>