<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Find Class</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="wrap-content">
                <div class="no-margin search-address-box">
                    <input type="text" placeholder="Search Address" class="search-input-address" data-g-places-autocomplete data-ng-model="game_filter.address" data-ng-change="changeAddress()">
                    <button data-ng-show="myPosition" data-ng-click="setAddress(1)" type="button" class="myPosition">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="col-lg-12 profile no-padding">
                    <div class="no-margin game-box">
                        <ion-list>
                            <ion-item ng-repeat="card in games_arr" item="item" class="item-remove-animate">
                                <!-- href="#/lobby-tab/1" -->
                                <div class="game-card">
                                    <div class="sport-img-box">
                                        <div class="m{{card.gym_sport | sport_icon}}-icon-a icon-bg"></div>
                                    </div>
                                    <div class="item-content-box">
                                        <div class="content-data">
                                            <div class="address">{{card.club_name}}, {{card.address}}</div>
                                            <div class="time">{{card.date | day_notification}} at {{ card.start_time | filterClockEN }}
                                            </div>
                                            <div class="max_countWrapper col-md-12 col-xs-6 no-padding">
                                                <div class="members_count clearFix">
                                                    <div class="col_count" data-ng-class="{'full':(card.number_members==card.global_members), 'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-red">
                                            {{ card.start_time | filterClockEnNumber }}
                                        </div>
                                    </div>
                                </div>
                                <ion-option-button class="button-assertive watch_bg" ng-click="watchGame(card, card.game_id, (card.my_watch == 0)?1:0)">
                                    <div class="btn_icon" ng-if="card.my_watch == 0">
                                        <i class="ion-eye"></i>
                                        <div class="btn-label">Watch</div>
                                    </div>
                                    <div class="btn_icon" ng-if="card.my_watch == 1">
                                        <i class="ion-eye-disabled"></i>
                                        <div class="btn-label">Unwatch</div>
                                    </div>
                                </ion-option-button>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<aside class="right-sidebar" ng-class="hintS == '1' ? 'hintRightFilterBlock' : '' " is-enabled="true">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div>
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="no-margin clearFix">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="game_filter.sport[1]" data-ng-change="findGames()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="game_filter.sport[2]" data-ng-change="findGames()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="game_filter.sport[3]" data-ng-change="findGames()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="game_filter.sport[4]" data-ng-change="findGames()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="game_filter.sport[5]" data-ng-change="findGames()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="game_filter.sport[6]" data-ng-change="findGames()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="game_filter.sport[7]" data-ng-change="findGames()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]"
                                       value="Baseball/Softball" data-ng-model="game_filter.sport[8]"
                                       data-ng-change="findGames()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="game_filter.sport[9]" data-ng-change="findGames()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="no-margin clearfix">
                        <div class="filter-title"></div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="accessAll" name="filter-access" value="All"
                                           data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPublic" name="filter-access" value="Public"
                                           data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessPublic" class="distance10">Public</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="accessPrivate" name="filter-access" value="Private"
                                           data-ng-model="game_filter.access" data-ng-change="findGames()">
                                    <label for="accessPrivate" class="distance25">Private</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" ng-model="game_filter.dt" pick-a-date="date" pick-a-date-options="dt_options" value="{{ date }}"/>
                        </div>
                    </div>
                    <div class="no-margin clearfix">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="startTime.value"
                                      rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="endTime.value" rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Age</div>
                        <div class="filter-group">
                            <rzslider rz-slider-model="ageSlider.minValue" rz-slider-high="ageSlider.maxValue"
                                      rz-slider-options="ageSlider.options"></rzslider>


                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Location</div>
                        <div class="distance-box">
                            <div class="filter-radio-group" data-ng-class="distanceClass">
                                <div class="distance-group">
                                    <input type="radio" id="distance5" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="10"
                                           data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance5" class="distance5">10 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance10" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="25"
                                           data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance10" class="distance10">25 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance25" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="1000000"
                                           data-ng-model="game_filter.distance" data-ng-change="findGames()">
                                    <label for="distance25" class="distance25">All</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-margin clearFix">
                        <div class="filter-title">Gender</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="genderAll" name="filter-gender" value="All"
                                           data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderAll" class="distance5">All</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderMale" name="filter-gender" value="Male"
                                           data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderMale" class="distance10">Male</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="genderFemale" name="filter-gender" value="Female"
                                           data-ng-model="game_filter.gender" data-ng-change="findGames()">
                                    <label for="genderFemale" class="distance25">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Sort</div>
                        <div class="distance-box">
                            <div class="filter-radio-group">
                                <div class="distance-group">
                                    <input type="radio" id="sortSoonest" name="filter-sort" value="Soonest"
                                           data-ng-model="game_filter.sort" data-ng-change="findGames()">
                                    <label for="sortSoonest" class="sortSoonest">Soonest</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="sortNearest" name="filter-sort" value="Nearest"
                                           data-ng-model="game_filter.sort" data-ng-change="findGames()">
                                    <label for="sortNearest" class="sortNearest">Nearest</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>
