<div class="create-withdrawal-box">
    <div class="row no-margin">
        <div class="col-sm-10 col-sm-offset-1 no-padding create-withdrawal__group">
            <div class="col-sm-6 no-padding"><label for="">Enter amount that you would like to withdraw</label></div>
            <div class="col-sm-6 no-padding"><input type="text" class="cw-control" data-ng-model="withdrawal.avaible"></div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-sm-10 col-sm-offset-1 no-padding create-withdrawal__group">
            <div class="col-sm-6 no-padding"><label for="">Enter your paypal email to receive money</label></div>
            <div class="col-sm-6 no-padding"><input type="email" class="cw-control" data-ng-model="withdrawal.paypal_email"></div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-sm-12 informer-text">
            <div ng-show="success_text">
                <span>{{inform_text}}</span>
            </div>
            <div ng-show="loading_spiner">
                Processing <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <button class="modal-btn" data-ng-click="create_withdraw()">Withdraw</button>
    </div>
</div>