<div class="container-fluid bg1">
    <div class="row head-panel">
        <div class="col-sm-12">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="fa fa-bars"
                                                                                  aria-hidden="true"></i></button>
            <h1>Search</h1>
            <button data-ng-click="toggleRight('toggled')" class="filter-menu">Teammates</button>
        </div>
    </div>
    <div class="row wrap-content" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="row no-margin game-box">
                <div class="col-sm-12 game-card clearFix no-padding">
                    <div class="row gmaps no-margin no-padding">
                        <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options" draggable="true">
                            <ui-gmap-marker
                                    data-coords="marker.coords"
                                    data-options="marker.options"
                                    data-events="marker.events"
                                    data-idkey="marker.id">

                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="row no-margin no-padding">
                            <div class="col-md-2 col-xs-4 no-padding top25">
                                <div class="{{gym.gym_sport}}-icon"></div>
                            </div>
                            <div class="col-md-6 col-xs-4 no-padding top25">
                                <div class="sport">{{gym.gym_sport}}</div>
                                <div class="type">Game</div>
                            </div>
                            <div class="col-md-4 col-xs-4 no-padding top25">
                                <span class="clock">{{ clock }}</span>
                            </div>
                        </div>
                        <div class="row no-margin no-padding top25">
                            <div class="name col-md-12 col-xs-6 no-padding">{{gym.name}}</div>
                            <div class="address col-md-12 col-xs-6 no-padding">{{gym.address}}</div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="col-md-8 no-padding">
                            <div class="members_avatar clearFix top25 col-md-12 col-xs-6 no-padding" data-ng-show="game.game != 0">
                                <div data-ng-repeat="(index, card_avatar) in gym.members_range">
                                    <div data-ng-if="!added_members[index]" class="add_members_icon" data-ng-click="add_member($event, index)" style="z-index: {{gym.members_range.length - index}}; background: url('img/add-member.png');"></div>
                                    <div data-ng-if="added_members[index]" class="add_user_icon" style="z-index: {{gym.members_range.length - index}}; background: url('{{gym.user_avatar | avatar_type}}');"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="max_countWrapper joinCount col-md-12 col-xs-6 no-padding clearFix">
                                <div class="members_count clearFix">
                                    <div class="col_count" data-ng-class="{'green':(member<game.global_members)}"
                                         data-ng-repeat="member in (gym.members_range)" data-number="{{member}}"></div>
                                </div>
                                <div class="max_countMembers clearFix">
                                    {{gym.number_members}}<hr>{{game.global_members}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-md-7 no-padding">
                            <div class="col-md-12 col-xs-6 top25">
                                <div class="date-day" data-ng-show="game.date">Date</div>
                                <div class="start_time">{{ game.date | date:'yyyy-MM-dd' }}</div>
                            </div>
                            <div class="col-md-12 col-xs-6 top25">
                                <div class="price">{{ cost_game | currency }}
                                    <span data-ng-show="game.game != 0">to join</span>
                                    <span data-ng-show="game.game == 0">to create</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 no-padding pos-relative">
                            <div class="col-md-12 no-padding pos-relative">
                                <div class="watch_count">Watching<br>{{game.watching}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 clearFix invite_box">
                        <div data-ng-repeat="(index, invaite_avatar) in game.game_invites">
                            <div class="add_invaite_icon" style="background: url('{{invaite_avatar.img}}');"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearFix">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button data-ng-if="exist_credits" class="create-match" data-ng-click="createMatch(gym.fees)">Create a match</button>
                        <button data-ng-if="!exist_credits" class="create-match" data-ng-click="buyCredits()">Buy credits</button>
                    </div>
                    <div class="col-sm-4">
                        <button data-ng-if="exist_credits" class="reserve" data-ng-click="reserve()">Reservations</button>
                    </div>
                </div>
            </div>
        </div>
        <aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll">
            <div class="sidebar-content">
                <div class="row no-margin">
                    <input class="teammates-filer-name" type="text" placeholder="Search" data-ng-model="search_name" data-ng-change="searchTeammate(search_name)">
                </div>
                <div class="row teammates-card clearFix" data-ng-repeat="teammate in teammates_arr">
                    <div class="col-xs-4 no-margin no-padding">
                        <div data-ng-if="teammate.avatar" class="teammates_avatar"><img src="{{teammate.avatar | avatar_type}}" alt=""></div>
                        <div data-ng-if="!teammate.avatar" class="teammates_avatar"><img src="img/no_avatar_vopros.jpg" alt=""></div>
                        <div data-ng-if="!adding_invaite[teammate.id]" class="add_to_game" data-ng-click="set_invite(teammate.id, teammate.avatar)">+</div>
                        <div data-ng-if="adding_invaite[teammate.id]" class="add_to_game invited" data-ng-click="remove_invite(teammate.id)"><i class="fa fa-minus" aria-hidden="true"></i></div>
                    </div>
                    <div class="col-xs-8 no-margin no-padding">
                        <div class="teammates_fio">{{teammate.first_name}} {{teammate.last_name}}</div>
                        <div class="col-xs-10 no-margin no-padding teammates_address">
                            <span data-ng-if="teammate.address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{teammate.address}}</span>
                        </div>
                        <div class="col-xs-2 no-margin no-padding" data-ng-if="teammate.type == 2">
                            <a href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
