<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Settings</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab" ><label data-ui-sref="app.profile" data-ui-sref-opts="{reload: true}" ui-sref-active="active" >Settings</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.transactions" data-ui-sref-opts="{reload: true}" ui-sref-active="active" >Transactions</label></div>
                    <div class="col-xs-4 tab-group two-tab end-tabs"><label data-ui-sref="app.withdrawal" data-ui-sref-opts="{reload: true}" ui-sref-active="active" >Withdrawal</label></div>
                </div>
            </div>
            <div class="clearFix no-margin">
                <div class="col-lg-12 profile">
                    <form name="editProfileForm" class="list" ng-submit="editProfile(editProfileForm)">
                        <div class="clearFix no-padding">
                            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" data-flow-init
                                 data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                                 data-flow-files-submitted="$flow.upload()"
                                 data-flow-file-success="file_uploaded($file, $message, $flow)">
                                <div class="upload-avatar">
                                    <div class="thumbnail" data-ng-hide="$flow.files.length" data-flow-btn
                                         data-flow-attrs="{accept:'image/*'}">
                                        <img data-ng-src="{{profile.img  | avatar_type}}" alt="{{profile.firstname}}">
                                    </div>
                                    <div class="thumbnail" data-ng-show="$flow.files.length" data-flow-btn
                                         data-flow-attrs="{accept:'image/*'}">
                                        <img data-flow-img="$flow.files[0]" fallback-src="../img/no-img.jpg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" id="firstname" data-ng-model="profile.firstname"
                                           value="{{profile.firstname}}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" id="lastname" data-ng-model="profile.lastname"
                                           value="{{profile.lastname}}">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="email">Email Address</label>
                                    <input type="text" id="email" data-ng-model="profile.email"
                                           value="{{profile.email}}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="passw">Password</label>
                                    <input type="password" id="passw" value="" data-ng-model="profile.password"
                                           placeholder="New Password">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="address">Your Address</label>
                                    <input type="text" id="address" value="" data-ng-model="profile.address"
                                           data-g-places-autocomplete placeholder="Enter Your Address">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="phone">Phone Number</label>
                                    <select class="dial-code-control edit-selected" data-ng-model="profile.dial_code">
                                        <option data-ng-selected="{{profile.dial_code == code.dial_code}}"
                                                data-ng-repeat="code in telephone | orderBy: 'dial_code' | unique:'dial_code'"
                                                value="{{code.dial_code}}">{{code.dial_code}}
                                        </option>
                                    </select>
                                    <input type="text" id="phone" class="edit-phone" phone-input data-ng-model="profile.phone"  value="{{profile.phone | tel}}" placeholder="(999) 999-9999">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label>Gender</label>
                                    <select name="" id="" class="edit-gender edit-selected"
                                            data-ng-model="profile.gender">
                                        <option ng-selected="{{profile.gender == 'Male'}}">Male</option>
                                        <option ng-selected="{{profile.gender == 'Female'}}">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label>DOB</label>
                                    <select class="day-control edit-selected" data-ng-model="profile.dayS"
                                            data-ng-change="dateBuild()">
                                        <option ng-selected="{{day == profile.dayS}}" data-ng-repeat="day in dob.day">
                                            {{day}}
                                        </option>
                                    </select>
                                    <select class="mon-control edit-selected" data-ng-model="profile.monS"
                                            data-ng-change="dateBuild()">
                                        <option ng-selected="{{mon == profile.monS}}" data-ng-repeat="mon in dob.month">
                                            {{mon}}
                                        </option>
                                    </select>
                                    <select class="year-control edit-selected" data-ng-model="profile.yearS"
                                            data-ng-change="dateBuild()">
                                        <option ng-selected="{{year == profile.yearS}}"
                                                data-ng-repeat="year in dob.year">{{year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="">Height</label>
                                    <input type="text" data-ng-model="profile.h">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="wld">W-L-D</label>
                                    <input type="text" id="wld" data-ng-model="profile.wld" value="{{profile.wld}}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="education">Education</label>
                                    <input type="text" id="education" data-ng-model="profile.education"
                                           value="{{profile.education}}">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="hometown">Hometown</label>
                                    <input type="text" id="hometown" data-ng-model="profile.hometown"
                                           value="{{profile.hometown}}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="lkf">Little Known Fact</label>
                                    <input type="text" id="lkf" data-ng-model="profile.lkf" value="{{profile.lkf}}">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <div class="col-sm-5 col-sm-offset-1">
                                <div class="edit-group">
                                    <label for="ft">Favorite Team</label>
                                    <input type="text" id="ft" data-ng-model="profile.ft" value="{{profile.ft}}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="edit-group">
                                    <label for="jn">Job Networks</label>
                                    <input type="text" id="jn" data-ng-model="profile.jn" value="{{profile.jn}}">
                                </div>
                            </div>
                        </div>
                        <div class="clearFix">
                            <button class="save-profile">Save</button>
                            <div class="clearFix">
                                <div class="col-sm-12 informer-text">
                                    <div ng-show="success_text">
                                        <span>{{inform_text}}</span>
                                    </div>
                                    <div ng-show="loading_spiner">
                                        Save data<i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
