<ion-view>
    <ion-content>
        <div class="tab-bg join_tpl" style="padding-bottom: 30px">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round"
                                                                                          style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Join Game</div>
            </div>
            <div class="lobby_slider clearFix">
                <div class="game-card join-tpl">
                    <div class="m{{game.gym_sport.replace('/', '-')}}-icon-w icon-bg"></div>
                    <div class="sport_name">{{game.gym_sport}}</div>
                    <div class="name">{{game.name}}</div>
                    <div class="address">{{game.address}}</div>
                    <div class="time">{{game.date | day_notification}} at {{ game.start_time |
                        filterClockEN }}
                    </div>
                    <div class="gmaps no-margin no-padding top60">
                        <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options"
                                            draggable="true">
                            <ui-gmap-marker data-ng-repeat="marker in markers"
                                            data-coords="marker.coords"
                                            data-options="marker.options"
                                            data-events="marker.events"
                                            data-idkey="marker.id">

                            </ui-gmap-marker>

                        </ui-gmap-google-map>
                    </div>
                    <span class="clock-tik">{{ clock  | date:'HH:mm:ss'}}</span>
                    <div class="members_avatar">
                        <div data-ng-repeat="(index, card_avatar) in game.members_avatar">
                            <div data-ng-if="card_avatar.img != ''" class="avatar"
                                 style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -5px; background: url('{{ card_avatar.img | avatar_type }}');">
                                <a style="z-index: {{(game.members_avatar.length+2) - index}};"
                                   ui-sref="app.user({'t_id':{{card_avatar.id}}})"></a></div>
                            <div data-ng-if="card_avatar.img == ''" class="avatar"
                                 style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -5px; background: url('/img/no_avatar_vopros.jpg');">
                                <a style="z-index: {{(game.members_avatar.length+2) - index}};"
                                   ui-sref="app.user({'t_id':{{card_avatar.id}}})"></a></div>
                        </div>
                        <div data-ng-repeat="(index, card_avatar) in game.free_members">
                            <div data-ng-if="added_members[index]" class="avatar add_user_icon"
                                 style="z-index: {{index}}; margin-left: -5px; background: url('{{game.user_avatar | avatar_type}}');"></div>
                        </div>
                    </div>
                    <div class="clearFix">
                        <div class="col-xs-offset-3 col-xs-6">
                            <button class="invite_btn" data-ng-click="inviteModal()"><i class="ion-person-stalker"></i>
                                <span class="invite-text">Teammates</span> <span class="invite_count">{{game_invites.length}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="max_countMembers">
                            {{game.global_members}}
                            <hr>
                            {{game.number_members}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-12 no-padding">
                            <span class="green_price">${{game.price_member}} to join</span>
                        </div>
                        <div class="no-margin" data-ng-if="(game.members_range.length) > game.global_members">
                            <div class="col-xs-12 no-padding">
                                <button class="join-btn" data-ng-click="buyCredits()">Join</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 no-padding">
                        <div class="watch_count">
                            Watching<br>
                            {{game.watching}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>