<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Last Visited</div>
                <div class="col-xs-2"></div>
            </div>
            <div class="wrap-content">
                <div class="col-lg-12 profile no-padding" style="position:relative; padding-bottom: 35px;">
                    <div class="search-clubs-box no-margin">
                        <div class="cub-card" data-ng-show="club_cards.name != ''"
                             data-ng-repeat="(index, card) in club_cards">
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <span class="card-name">
                                        <i class="fa fa-lock" aria-hidden="true" data-ng-show="card.type == 'private'"></i>
                                        <i class="fa fa-unlock-alt" aria-hidden="true" data-ng-show="card.type == 'public'"></i>
                                        {{card.name}}
                                    </span>
                                </div>
                                <div class="card-address">{{card.address}}</div>
                                <div class="col-xs-12">
                                    <div data-ng-show="card.distance" class="card-miles">{{card.distance}} miles away</div>
                                </div>
                                <div class="col-xs-12">
                                    <div data-ng-show="card.phone" class="card-phone">Phone: {{card.phone}}</div>
                                    <div data-ng-show="card.email" class="card-email">Email: {{card.email}}</div>
                                    <div data-ng-show="card.website" class="card-website">Website: {{card.website}}</div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="card-sports-group">
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Basketball') >= 0)"
                                                src="img/sports/sport1.png" alt="saport1"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Basketball') >= 0)"
                                                src="img/sports/sport1_h.png" alt="saport1"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Volleyball') >= 0)"
                                                src="img/sports/sport2.png" alt="saport2"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Volleyball') >= 0)"
                                                src="img/sports/sport2_h.png" alt="saport2"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Soccer') >= 0)"
                                                src="img/sports/sport3.png" alt="saport3"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Soccer') >= 0)"
                                                src="img/sports/sport3_h.png" alt="saport3"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Bubble Soccer') >= 0)"
                                                src="img/sports/sport4.png" alt="saport4"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Bubble Soccer') >= 0)"
                                                src="img/sports/sport4_h.png" alt="saport4"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Football') >= 0)"
                                                src="img/sports/sport5.png" alt="saport5"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Football') >= 0)"
                                                src="img/sports/sport5_h.png" alt="saport5"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Tennis') >= 0)"
                                                src="img/sports/sport6.png" alt="saport6"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Tennis') >= 0)"
                                                src="img/sports/sport6_h.png" alt="saport6"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Hockey') >= 0)"
                                                src="img/sports/sport7.png" alt="saport7"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Hockey') >= 0)"
                                                src="img/sports/sport7_h.png" alt="saport7"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Baseball/Softball') >= 0)"
                                                src="img/sports/sport8.png" alt="saport8"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Baseball/Softball') >= 0)"
                                                src="img/sports/sport8_h.png" alt="saport8"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Racquetball') >= 0)"
                                                src="img/sports/sport9.png" alt="saport9"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Racquetball') >= 0)"
                                                src="img/sports/sport9_h.png" alt="saport9"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Zumba') >= 0)"
                                                src="img/sports/class1.png" alt="class1"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Zumba') >= 0)"
                                                src="img/sports/class1_h.png" alt="class1"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Yoga') >= 0)"
                                                src="img/sports/class2.png" alt="class2"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Yoga') >= 0)"
                                                src="img/sports/class2_h.png" alt="class2"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Pilates') >= 0)"
                                                src="img/sports/class3.png" alt="class3"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Pilates') >= 0)"
                                                src="img/sports/class3_h.png" alt="class3"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Boxing') >= 0)"
                                                src="img/sports/class4.png" alt="class4"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Boxing') >= 0)"
                                                src="img/sports/class4_h.png" alt="class4"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Kickboxing') >= 0)"
                                                src="img/sports/class5.png" alt="class5"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Kickboxing') >= 0)"
                                                src="img/sports/class5_h.png" alt="class5"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Jazzercise') >= 0)"
                                                src="img/sports/class6.png" alt="class6"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Jazzercise') >= 0)"
                                                src="img/sports/class6_h.png" alt="class6"></div>
                                        <div class="card-sport"><img
                                                data-ng-show="!(card.sports.split(',').indexOf('Spin') >= 0)"
                                                src="img/sports/class7.png" alt="class7"><img
                                                data-ng-show="(card.sports.split(',').indexOf('Spin') >= 0)"
                                                src="img/sports/class7_h.png" alt="class7"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <slick infinite="true" dots="false" arrows="false" responsive="breakpoints" slides-to-show="7" slides-to-scroll="3" class="col-xs-12 no-padding text-center">
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.mon}">
                                        <div>Mon</div>
                                        <div data-ng-show="!card.hours.mon">Not working</div>
                                        <div data-ng-show="card.hours.mon">{{card.hours.mon.start | filterClock}} <br> {{card.hours.mon.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.tue}">
                                        <div>Tue</div>
                                        <div data-ng-show="!card.hours.tue">Not working</div>
                                        <div data-ng-show="card.hours.tue">{{card.hours.tue.start  | filterClock}} <br> {{card.hours.tue.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.wed}">
                                        <div>Wed</div>
                                        <div data-ng-show="!card.hours.wed">Not working</div>
                                        <div data-ng-show="card.hours.wed">{{card.hours.wed.start | filterClock}} <br> {{card.hours.wed.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.thu}">
                                        <div>Thu</div>
                                        <div data-ng-show="!card.hours.thu">Not working</div>
                                        <div data-ng-show="card.hours.thu">{{card.hours.thu.start | filterClock}} <br> {{card.hours.thu.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.fri}">
                                        <div>Fri</div>
                                        <div data-ng-show="!card.hours.fri">Not working</div>
                                        <div data-ng-show="card.hours.fri">{{card.hours.fri.start | filterClock}} <br> {{card.hours.fri.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.sat}">
                                        <div>Sat</div>
                                        <div data-ng-show="!card.hours.sat">Not working</div>
                                        <div data-ng-show="card.hours.sat">{{card.hours.sat.start | filterClock}} <br> {{card.hours.sat.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.sun}">
                                        <div>Sun</div>
                                        <div data-ng-show="!card.hours.sun">Not working</div>
                                        <div data-ng-show="card.hours.sun">{{card.hours.sun.start | filterClock}} <br> {{card.hours.sun.end | filterClock}}</div>
                                    </div>
                                </slick>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-6">
                                    <div class="card-members text-left">
                                        Members {{card.members | number:0}}
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="/#/club-page/{{card.id}}" class="card-more"><i class="fa fa-info-circle"
                                                                                            aria-hidden="true"></i> more</a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button data-ng-if="!card.favorite" data-ng-click="addFavorite(card.id,index)"
                                        class="card-request-favorite">
                                    <i class="fa  fa-star" aria-hidden="true"></i>
                                </button>
                                <button data-ng-if="card.favorite" data-ng-click="removeFavorite(card.id,index)"
                                        class="card-request-favorite-add">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-xs-8">
                                <button data-ng-if="card.me_member == 0" class="card-request-membership"
                                        data-ng-click="requestMembership(card.id, index, card.price, card.name, card.type)">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> <span
                                        data-ng-if="card.price > 0">{{card.price}}$</span> <span class="lg">Request Membership</span>
                                </button>
                                <button data-ng-if="card.me_member != 0" class="card-request-membership"
                                        data-ng-click="removeMembership(card.id, index)">
                                    <i class="fa fa-user-times" aria-hidden="true"></i>
                                    <span class="lg">Leave Membership</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>