<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content >
        <ion-nav-view name="app"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" >
        <ion-content>
            <toaster-container toaster-options="{'time-out': 4000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
            <div class="clearFix no-margin">
                <div class="credit-box">
                    Balance:
                    <!--<label data-ng-click="replenish_balance()"><span id="balance_user"> {{cc.credits_val}}</span> <i class="fa fa-money" aria-hidden="true"></i></label>-->
                    <label><span id="balance_user"> {{cc.credits_val}}</span> <i class="fa fa-money"
                                                                                 ui-sref="app.withdrawal"
                                                                                 aria-hidden="true"></i></label>
                </div>
                <div class="edit-profile" nav-clear menu-close data-ng-click="goEditProfile()"></div>
            </div>
            <div class="clearFix no-margin">
                <div class="sidebar-avatar">
                    <img src="{{sideBar.avatar | avatar_type}}" alt=""   fallback-src="{{'../img/no-img.jpg'}}">
                    <div class="userStatus" data-ng-class="{'check': transactionsCount > 0}">

                    </div>
                </div>
            </div>

            <div class="fio-box">
                <span class="sidebar-firstname">{{sideBar.firstname}}</span>
                <span class="sidebar-lastname">{{sideBar.lastname}}</span>
            </div>
            <div class="address-box">
                {{sideBar.address}}
            </div>

            <ul class="sidebar-nav">
                <li class="lobbies" nav-clear menu-close><a data-ui-sref="app.home" data-ui-sref-opts="{reload: $root.currState}">My
                    Lobby</a></li>
                <li class="games" nav-clear menu-close><a data-ui-sref="app.create-match" data-ui-sref-opts="{reload: $root.currState}">Find
                    Game</a></li>
                <li class="find_gums" nav-clear menu-close><a data-ui-sref="app.create-class"
                                         data-ui-sref-opts="{reload: $root.currState}">Find Class</a></li>
                <li ng-class="{'find_club':!favoriteList,'find_':favoriteList}" ng-click="toggleF()"><a nav-clear menu-close
                        data-ui-sref="app.search" data-ui-sref-opts="{reload: $root.currState}">Find Club</a></li>
                <div ng-show="favoriteList" class="" click-outside="closeThis()">
                    <li nav-clear menu-close ng-repeat="c in lastVisited"
                        style="  overflow:hidden;  display:inline-block; height: 20px; line-height: 22px; padding-right:20px; text-overflow: ellipsis;  white-space: nowrap;"
                        ui-sref="app.club-page({'club_id':c.id})">{{c.name}}
                    </li>
                    <li nav-clear menu-close style=" overflow:hidden;  display:inline-block;  text-overflow: ellipsis;  padding-right:20px; white-space: nowrap;">
                            <span class="clear-btn" style="line-height: 38px;"
                                  ui-sref="app.last-visited">View all</span></li>
                </div>
                <li class="teammates" nav-clear menu-close><a data-ui-sref="app.teammates" data-ui-sref-opts="{reload: $root.currState}">Teammates</a>
                </li>
                <li class="messages" nav-clear menu-close><a data-ui-sref="app.messages" data-ui-sref-opts="{reload: $root.currState}">Messages </a>
                    <div class="unreadN">{{unreadedCount}}</div>
                </li>
                <li class="notifications" nav-clear menu-close><a data-ui-sref="app.notifications"
                                             data-ui-sref-opts="{reload: $root.currState}">Notification </a>
                    <div class="unreadN unreadBlue">{{notificationCount}}</div>
                </li>
                <li class="social" nav-clear menu-close><a data-ui-sref="app.socialConnect"
                                      data-ui-sref-opts="{reload: $root.currState}">Social Connect</a></li>
                <li class="partner" data-ng-click="become_partner()" data-ui-sref-opts="{reload: $root.currState}"
                    data-ng-show="club.create" nav-clear menu-close>Add Club
                </li>
                <li class="manage" nav-clear menu-close><a data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: $root.currState}">Business</a>
                </li>
                <li class="logout" data-ng-click="signout()" nav-clear menu-close>Logout</li>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
