<ion-view>
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Lobbies</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab "><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-all" data-ng-model="tab_lobby" value="all" data-ng-click="tab_lobbyChange('all')"><label for="lobby-all" >All</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-joined" data-ng-model="tab_lobby" value="joined" data-ng-click="tab_lobbyChange('joined')"><label for="lobby-joined">Joined</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <input type="radio" name="tab-lobby" class="tab-lobby" data-ng-checked="btnClick">
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ng-click="tab_lobbyChange('reserved')">Reserved</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ng-click="tab_lobbyChange('watch')">Watch</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ng-click="tab_lobbyChange('invites')">Invites</label></div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap-content toggled" data-ng-class="rightSidebar">
                <div class="no-margin search-address-box">
                    <input type="text" placeholder="Search Address" class="search-input-address" data-g-places-autocomplete autocomplete="off" ng-blur="addressBlur()" ng-init="count=0" data-ng-model="game_filter.address" data-ng-change="changeAddress()" required>
                    <button data-ng-show="myPosition" data-ng-click="setAddress(1)" type="button" class="myPosition">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-lg-12 profile no-padding">
                    <div class="no-margin game-box">
                        <ion-list>
                            <ion-item ng-repeat="card in games_arr" item="item" class="item-remove-animate" href="#/lobby-tab/{{card.type_game}}"> <!-- href="#/lobby-tab/1" -->
                                <div class="game-card">
                                    <div class="sport-img-box">
                                        <div class="m{{card.gym_sport.replace('/', '-')}}-icon-a icon-bg"></div>
                                    </div>
                                    <div class="item-content-box">
                                        <div class="content-data">
                                            <div class="address">{{card.club_name}}, {{card.address}}</div>
                                            <div class="time">{{card.date | day_notification}} at {{ card.start_time | filterClockEN }}
                                            </div>
                                            <div class="max_countWrapper col-md-12 col-xs-6 no-padding">
                                                <div class="members_count clearFix">
                                                    <div class="col_count" data-ng-class="{'full':(card.number_members==card.global_members), 'green':(member<card.global_members)}" data-ng-repeat="member in (card.members_range)" data-number="{{member}}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-red">
                                            {{ card.start_time | filterClockEnNumber }}
                                        </div>
                                    </div>
                                </div>
                                <ion-option-button class="button-assertive {{card.type_game}}_bg" ng-if="(card.members_range.length) > card.global_members && card.type_game == 'invite'" ng-click="joinGame(card.id)"><div class="btn_icon"><i class="ion-ios-checkmark-empty"></i><div class="btn-label">{{card.type_game}}</div></div></ion-option-button>
                                <ion-option-button class="button-assertive {{card.type_game}}_bg" ng-if="(card.members_range.length) > card.global_members && card.type_game == 'joined'" ng-click="joinGame(card.id)"><div class="btn_icon"><i class="ion-android-add"></i><div class="btn-label">{{card.type_game}}</div></div></ion-option-button>
                                <ion-option-button class="button-assertive {{card.type_game}}_bg" ng-if="(card.members_range.length) == card.global_members && card.type_game == 'reserve'" ng-click="reserveGame(card.id)"><div class="btn_icon"><div class="btn-label">Reserved</div></div></ion-option-button>
                                <ion-option-button class="button-assertive {{card.type_game}}_bg" ng-if="card.type_game == 'watch'" ng-click="watchGame(card, card.id, (card.watching == 0)?1:0)">
                                    <div class="btn_icon" ng-if="card.my_watch == 0">
                                        <i class="ion-eye"></i>
                                        <div class="btn-label">Watch</div>
                                    </div>
                                    <div class="btn_icon" ng-if="card.my_watch == 1">
                                        <i class="ion-eye-disabled"></i>
                                        <div class="btn-label">Unwatch</div>
                                    </div>
                                </ion-option-button>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
