<ion-view>
    <ion-content>
        <div class="tab-bg">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i></button>
                </div>
            </div>
            <div class="top25 previous-btn"><a data-ui-sref="app.home"><i class="ion-android-arrow-back"></i></a></div>
            <ion-slides options="options" slider="data.slider">
                <ion-slide-page ng-repeat="card in games_arr">
                    <div class="lobby_slider clearFix">
                        <div class="game-card">
                            <div class="m{{card.gym_sport.replace('/', '-')}}-icon-w icon-bg"></div>
                            <div class="sport_name">{{card.gym_sport}}</div>
                            <div class="name">{{card.name}}</div>
                            <div class="address">{{card.address}}</div>
                            <div class="time">{{card.date | day_notification}} at {{ card.start_time |
                                filterClockEN }}
                            </div>
                            <div class="members_avatar">
                                <div data-ng-repeat="(index, card_avatar) in card.members_avatar">
                                    <div data-ng-if="card_avatar.img != ''" class="avatar" style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -10px; background: url('{{ card_avatar.img | avatar_type }}');"><a style="z-index: {{(game.members_avatar.length+2) - index}};" ui-sref="app.user({'t_id':card_avatar.id})"></a></div>
                                    <div data-ng-if="card_avatar.img == ''" class="avatar" style="z-index: {{(game.members_avatar.length+1) - index}}; margin-left: -10px; background: url('img/no_avatar_vopros.jpg');"><a style="z-index: {{(game.members_avatar.length+2) - index}};" ui-sref="app.user({'t_id':card_avatar.id})"></a></div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="max_countMembers">
                                    {{card.global_members}}<hr>{{card.number_members}}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="no-margin" data-ng-if="(card.members_range.length) > card.global_members">
                                    <div class="col-xs-12 no-padding">
                                        <button class="join-btn" data-ng-click="joinGame(card.game_id)">Join
                                        </button>
                                    </div>
                                    <div class="col-xs-12 no-padding">
                                        <span class="green_price">${{card.price_member}} to join</span>
                                    </div>
                                </div>
                                <div class="no-margin" data-ng-if="(card.members_range.length) > card.global_members && card.global_members == 0">
                                    <div class="col-xs-12 no-padding">
                                        <button class="reserve-btn" data-ng-show="card.game != 0" data-ng-click="reserveGame(card.game_id)">Reserve
                                        </button>
                                    </div>
                                    <div class="col-xs-12 no-padding">
                                        <span class="red_price">${{ card.price_member * (card.number_members - card.global_members) }} to reserve</span>
                                    </div>
                                </div>
                                <div class="no-margin">
                                    <div class="col-xs-12 no-padding">
                                        <button class="watch-btn custom-w" data-ng-class="{'unwatch': card.watching == 1, 'top25': (card.members_range.length) == card.global_members}" data-ng-click="watchGame(card, card.game_id, (card.watching == 0)?1:0)"><span data-ng-if="card.watching == 0">Watch</span> <span data-ng-if="card.watching == 1">Unwatch</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="watch_count">
                                    Watching<br>
                                    {{card.watching}}</div>
                            </div>
                        </div>
                    </div>
                </ion-slide-page>
            </ion-slides>
        </div>
    </ion-content>
</ion-view>
