<ion-view>
    <ion-content>
        <div class="bg2 clearFix" style="padding-bottom: 30px;">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Club</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs" data-ui-sref-opts="{reload: true}" ui-sref-active="active" >Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Classes</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Members</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Booking</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Notifications</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest" data-ui-sref-opts="{reload: true}" ui-sref-active="active">Requests</label></div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="inform_text">
                <div class="no-margin padding30 text-center top25">
                    <p>{{empty_cards}}</p>
                    <div class="col-md-12 gv-inform-text">
                        <span>Your request to add the club has been sent to the administrator. Expect a response in the near future.</span>
                    </div>
                </div>
            </div>
            <div data-ng-show="check_club">
                <div class="col-lg-12">
                    <form name="editClubForm" ng-submit="editClub(club)">
                        <div class="manage-box">
                            <div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-name">Enter name</label></div>
                                    <div class="col-xs-9 no-padding"><input type="text" id="enter-name"
                                                                            data-ng-model="club.name"></div>
                                </div>
                                <div class="col-md-3 club-control top25">
                                    <div class="radio-box">
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="enter-private" value="private"
                                                   data-ng-model="club.type">
                                            <label for="enter-private">Private</label>
                                        </div>
                                        <div class="radio-group1">
                                            <input type="radio" name="type" id="enter-public" value="public"
                                                   data-ng-model="club.type">
                                            <label for="enter-public">Public</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-address">Enter Address</label>
                                    </div>
                                    <div class="col-xs-9 no-padding"><input type="text" id="enter-address"
                                                                            data-ng-model="club.address"
                                                                            data-ng-change="changeAddress();"
                                                                            ng-model-options="{ debounce: 2000 }"></div>
                                </div>
                            </div>
                            <div data-ng-if="club.type == 'private'">
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-address">Enter Price</label>
                                    </div>
                                    <div class="col-xs-9 no-padding"><input type="text" id="enter-price"
                                                                            data-ng-model="club.price"></div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-9 club-control head-text">Contact information</div>
                            </div>
                            <div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-phone"
                                                                            class="format-text">Phone</label>
                                    </div>
                                    <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-phone"
                                                                                     data-ng-model="club.phone"></div>
                                </div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-website"
                                                                            class="format-text">Website</label></div>
                                    <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-website"
                                                                                     data-ng-model="club.website"></div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-email"
                                                                            class="format-text">Email</label>
                                    </div>
                                    <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-email"
                                                                                     data-ng-model="club.email"></div>
                                </div>
                                <div class="col-md-6 club-control">
                                    <div class="col-xs-3 no-padding"><label for="enter-fax"
                                                                            class="format-text">Fax</label>
                                    </div>
                                    <div class="col-xs-9 col-md-8 no-padding"><input type="text" id="enter-fax"
                                                                                     data-ng-model="club.fax"></div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-9 club-control head-text">Opening hours</div>
                            </div>
                            <div class="hours-box clearFix">
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-mo" data-ng-model="day['mon']">
                                    <label for="enter-mo">Monday</label>
                                    <div data-ng-show="day['mon']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="mo_hour[1]" id="mo_hour1"
                                                    data-ng-model="club.day['mon'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="mo_hour[2]" id="mo_hour2" data-ng-model="club.day['mon'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['mon']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-tu" data-ng-model="day['tue']">
                                    <label for="enter-tu">Tuesday</label>
                                    <div data-ng-show="day['tue']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="tu_hour[1]" id="tu_hour1"
                                                    data-ng-model="club.day['tue'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="tu_hour[2]" id="tu_hour2" data-ng-model="club.day['tue'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['tue']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-we" data-ng-model="day['wed']">
                                    <label for="enter-we">Wednesday</label>
                                    <div data-ng-show="day['wed']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="we_hour[1]" id="we_hour1"
                                                    data-ng-model="club.day['wed'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="we_hour[2]" id="we_hour2" data-ng-model="club.day['wed'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['wed']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-th" data-ng-model="day['thu']">
                                    <label for="enter-th">Thursday</label>
                                    <div data-ng-show="day['thu']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="th_hour[1]" id="th_hour1"
                                                    data-ng-model="club.day['thu'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="th_hour[2]" id="th_hour2" data-ng-model="club.day['thu'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['thu']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-fr" data-ng-model="day['fri']">
                                    <label for="enter-fr">Friday</label>
                                    <div data-ng-show="day['fri']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="fr_hour[1]" id="fr_hour1"
                                                    data-ng-model="club.day['fri'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="fr_hour[2]" id="fr_hour2" data-ng-model="club.day['fri'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['fri']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-sa" data-ng-model="day['sat']">
                                    <label for="enter-sa">Saturday</label>
                                    <div data-ng-show="day['sat']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="sa_hour[1]" id="sa_hour1"
                                                    data-ng-model="club.day['sat'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="sa_hour[2]" id="sa_hour2" data-ng-model="club.day['sat'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['sat']" class="not-selected">Not working</div>
                                </div>
                                <div class="col-xs-4 club-hour">
                                    <input type="checkbox" id="enter-su" data-ng-model="day['sun']">
                                    <label for="enter-su">Sunday</label>
                                    <div data-ng-show="day['sun']" class="hours-croup">
                                        <div class="select-hour">
                                            <select name="su_hour[1]" id="su_hour1"
                                                    data-ng-model="club.day['sun'].start"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                        <div class="select-hour">
                                            <select name="su_hour[2]" id="su_hour2" data-ng-model="club.day['sun'].end"
                                                    data-ng-options="hour as hour|filterClock for hour in o_hours">
                                            </select>
                                        </div>
                                    </div>
                                    <div data-ng-show="!day['sun']" class="not-selected">Not working</div>
                                </div>
                            </div>
                        </div>
                        <div class="gmaps no-margin clearFix">
                            <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options"
                                                draggable="true">
                                <ui-gmap-marker
                                        data-coords="marker.coords"
                                        data-options="marker.options"
                                        data-events="marker.events"
                                        data-idkey="marker.id">

                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        <div>
                            <div class="col-xs-8 col-xs-offset-2">
                                <button type="submit" id="edit_club_btn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>