<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="teammates-bg">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Members</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Classes</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Members</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Booking</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Notifications</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Requests</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearFix wrap-content">
                <div class="col-lg-12 profile no-padding">
                    <div class="clearFix no-margin search-address-box">
                        <input type="text" placeholder="Search Address" class="search-input-address"
                               data-g-places-autocomplete
                               data-ng-model="filter.address"
                               data-ng-change="changeAddress()">
                        <button data-ng-show="myPosition" data-ng-click="setAddress()" type="button" class="myPosition">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-xs-12 no-margin gym-filter-box hidden-xs">
                        <div class="group-filters-member group-filters-gyms">
                            <div class="all-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-all"
                                       data-ng-model="tab_team" value="online"
                                       data-ng-click="tab_teamChange()">
                                <label for="lobby-all">Online</label>
                            </div>
                            <div class="gym-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-watch"
                                       data-ng-model="tab_team" value="favorites"
                                       data-ng-click="tab_teamChange()">
                                <label for="lobby-watch">Favorites</label>
                            </div>
                            <div class="gym-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-joined"
                                       data-ng-model="tab_team" value="recent"
                                       data-ng-click="tab_teamChange()">
                                <label for="lobby-joined">Recent</label>
                            </div>
                            <div class="class-filter">
                                <input type="radio" name="tab-lobby" class="tab-lobby"
                                       id="lobby-invites" data-ng-model="tab_team" value="all"
                                       data-ng-click="tab_teamChange()">
                                <label for="lobby-invites">All</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearFix no-margin members-dropdown-box">
                        <div class="dropdown-box col-xs-12 hidden-md hidden-sm hidden-lg">
                            <div class="btn-group hidden-md hidden-sm hidden-lg pull-right" uib-dropdown>
                                <button id="split-button" type="button" class="btn btn-danger">{{tab_team}}</button>
                                <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-sm-2 tab-group"><label for="lobby-all">Online</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-sm-2 tab-group"><label for="lobby-watch">Favorites</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-sm-2 tab-group"><label for="lobby-joined">Recent</label></div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-sm-2 tab-group"><label for="lobby-invites">All</label></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="clearFix no-margin teammates-box">
                        <div class="col-md-12 teammate-card" data-ng-repeat="(index, team) in teammates_arr">
                            <div class="clearFix no-margin">
                                <div class="col-md-4 no-padding">
                                    <div class="col-md-5 no-padding">
                                        <!--https://www.facebook.com/profile.php?id=100012539742549-->
                                        <div class="t_box-avatar">
                                            <div class="t_verification" data-ng-show="team.sports.length>=1"></div>
                                            <div class="t_status offline"
                                                 data-ng-class="{'online': users.online.indexOf(''+team.user_id)!=-1}"></div>
                                            <div class="t_favorites"></div>
                                            <a href="https://www.facebook.com/{{team.social_id}}"
                                               data-ng-show="team.type == 2">
                                                <div class="t_facebook"></div>
                                            </a>
                                            <img class="t_avatar" src="{{team.avatar | avatar_type}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7 no-padding clearFix">
                                        <div class="col-sm-12 t_fio">{{team.first_name}} {{team.last_name}}</div>
                                        <div class="col-sm-6 col-md-12 t_address">{{team.address}}</div>
                                        <div class="col-sm-6 col-md-12 t_distance" data-ng-show="team.distance">
                                            {{team.distance}} miles away
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 no-padding clearFix">
                                    <div class="t_data clearFix">
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">W-L-D</div>
                                            <span class="t_data-val">{{(team.wld == '')?team.wld:'---'}}</span>
                                        </div>
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">Education</div>
                                            <span class="t_data-val">{{(team.education == '')?team.education:'---'}}</span>
                                        </div>
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">HOMETOWN</div>
                                            <span class="t_data-val">{{(team.hometown == '')?team.hometown:'---'}}</span>
                                        </div>
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">LITTLE KNOWN FACT</div>
                                            <span class="t_data-val">{{(team.lkf == '')?team.lkf:'---'}}</span>
                                        </div>
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">Favorite TEAM</div>
                                            <span class="t_data-val">{{(team.ft == '')?team.ft:'---'}}</span>
                                        </div>
                                        <div class="col-md-2 col-sm-4 no-padding">
                                            <div class="t_head">Job Networks</div>
                                            <span class="t_data-val">{{(team.jn == '')?team.jn:'---'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearFix no-margin">
                                <div class="col-md-4 col-xs-12 no-padding">
                                    <div class="col-md-5 no-padding t_sport-box">
                                        <div class="{{sport.replace('/','-')}}-icon t_sport"
                                             data-ng-repeat="sport in team.sports"></div>
                                    </div>
                                    <div class="col-md-7 no-padding">
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-12 no-padding t_blue-box">
                                    <div class="col-md-3 col-xs-4 no-padding t_data-blue">drafted {{team.drafted |
                                        date:'dd/MM/yyyy'}}
                                    </div>
                                    <div class="col-md-3 col-xs-4 no-padding t_data-blue">Teammates
                                        {{team.team_count}}
                                    </div>
                                    <div class="col-md-3 col-xs-4 no-padding t_data-blue">MEMBERShIPS
                                        {{team.membership}}
                                    </div>
                                    <div class="col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-4 no-padding">
                                        <button class="view-mage-btn" data-ng-click="show_user(team.id)">View Games
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<aside class="right-sidebar">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="filter-title">Sport</div>
                    <div class="clearFix no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="radio" id="filter-sport16" name="filter-spor16]" value="Spin"
                                       data-ng-model="filter.sport" data-ng-change="findMembers()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="clearFix no-margin">
                        <div class="filter-title">Name</div>
                        <div class="filter-group">
                            <input class="filter-name ng-pristine ng-valid ng-empty ng-touched"
                                   data-ng-model="filter.name" data-ng-change="findMembers()" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>