<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Messages</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="head-panel">
                <div class="col-xs-6 clearFix">
                    <button class="button button-icon ion-ios-close-outline toggle-menu"
                            ng-click="data.showDelete = !data.showDelete;" style="font-size: 33px;">
                        <span class="turn_label lg">Turn off/on</span>
                    </button>
                </div>
            </div>
            <div class="wrap-content messages-box" data-ng-class="[rightSidebar, rightMessageInvite]">
                <div class="col-lg-12 profile no-padding">
                    <div class="no-margin">
                        <ion-list show-delete="data.showDelete">
                            <ion-item data-ng-repeat="room in rooms | orderBy:['-ord','-start_time'] track by $index" 1item="room" class="item-remove-animate">
                                <div class="game-card">
                                    <div class="sport-img-box">
                                        <div class="m{{room.gym_sport.replace('/', '-')}}-icon-a icon-bg"></div>
                                        <span data-ng-if="$root.unreaded[room.id] > 0" class="msg_unreadCount">{{$root.unreaded[room.id]}}</span>
                                    </div>
                                    <div class="item-content-box top25">
                                        <div class="name">{{room.name}}</div>
                                        <div class="address">{{room.address}}</div>
                                        <div class="time">{{room.date | day_notification}} at {{ room.start_time |
                                            filterClockEN }}
                                        </div>
                                    </div>
                                </div>
                                <ion-delete-button data-ng-class="{'green': !room.chat_room_status, 'ion-ios-checkmark-outline': !room.chat_room_status, 'ion-ios-close-outline': room.chat_room_status}"
                                                   ng-click="change_room(room, room.chat_room_status)">
                                </ion-delete-button>
                                <ion-option-button class="bchat_msgBtn" data-ng-show="room.chat_room_status == 1"
                                                   data-ui-sref="app.chat({id:room.id})">
                                    <div class="btn_icon">
                                        <i class="ion-chatbubbles"></i>
                                        <div class="btn-label">Chat</div>
                                    </div>
                                </ion-option-button>
                                <ion-option-button class="invite_msgBtn" data-ng-click="inviteModal(room.id)">
                                    <div class="btn_icon">
                                        <i class="ion-plus-round"></i>
                                        <div class="btn-label">Invite</div>
                                    </div>
                                </ion-option-button>
                            </ion-item>

                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<aside class="right-sidebar">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    <div class="filter-title">Sport</div>
                    <div class="no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]"
                                       value="Basketball"
                                       data-ng-model="game_filter.sport[1]" data-ng-change="getChatRooms()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]"
                                       value="Volleyball"
                                       data-ng-model="game_filter.sport[2]" data-ng-change="getChatRooms()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="game_filter.sport[3]" data-ng-change="getChatRooms()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]"
                                       value="Bubble Soccer"
                                       data-ng-model="game_filter.sport[4]" data-ng-change="getChatRooms()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]"
                                       value="Football"
                                       data-ng-model="game_filter.sport[5]" data-ng-change="getChatRooms()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="game_filter.sport[6]" data-ng-change="getChatRooms()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="game_filter.sport[7]" data-ng-change="getChatRooms()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]"
                                       value="Baseball/Softball"
                                       data-ng-model="game_filter.sport[8]" data-ng-change="getChatRooms()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]"
                                       value="Racquetball"
                                       data-ng-model="game_filter.sport[9]" data-ng-change="getChatRooms()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="game_filter.sport[10]" data-ng-change="getChatRooms()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="game_filter.sport[11]" data-ng-change="getChatRooms()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]"
                                       value="Pilates"
                                       data-ng-model="game_filter.sport[12]" data-ng-change="getChatRooms()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]"
                                       value="Boxing"
                                       data-ng-model="game_filter.sport[13]" data-ng-change="getChatRooms()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]"
                                       value="Kickboxing"
                                       data-ng-model="game_filter.sport[14]" data-ng-change="getChatRooms()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]"
                                       value="Jazzercise"
                                       data-ng-model="game_filter.sport[15]" data-ng-change="getChatRooms()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                                       data-ng-model="game_filter.sport[16]" data-ng-change="getChatRooms()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>
                    <div class="no-margin clearFix">
                        <div class="filter-title">Date</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" data-ng-model="game_filter.dt" data-pick-a-date="date" data-pick-a-date-options="dt_options" value="{{ date }}"/>
                        </div>
                    </div>
                    <div class="no-margin">
                        <div class="filter-title">Start time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="startTime.value"
                                    rz-slider-options="startTime.options"></rzslider>
                        </div>
                    </div>
                    <div class="no-margin">
                        <div class="filter-title">End time</div>
                        <div class="filter-group">
                            <rzslider
                                    rz-slider-model="endTime.value"
                                    rz-slider-options="endTime.options"></rzslider>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>
