<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Find Club</div>
                <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
            </div>
            <div class="wrap-content">
                <div class="col-lg-12 profile no-padding" style="position:relative; padding-bottom: 35px;">
                    <div class="no-margin search-address-box">
                        <input type="text" placeholder="Search Address" class="search-input-address" data-g-places-autocomplete data-ng-model="filter.address" data-ng-change="changeAddress()">
                        <button data-ng-show="myPosition" data-ng-click="setAddress(1)" type="button" class="myPosition">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="search-gmaps no-margin lg">
                        <ui-gmap-google-map data-center='map.center' data-zoom='map.zoom' options="options" draggable="true">
                            <ui-gmap-marker data-ng-repeat="marker in markers" data-coords="marker.coords" data-options="marker.options" data-events="marker.events" data-idkey="marker.id">

                            </ui-gmap-marker>

                        </ui-gmap-google-map>
                    </div>

                    <div class="search-clubs-box no-margin">
                        <div class="cub-card" data-ng-show="club_cards.name != ''" data-ng-repeat="(index, card) in club_cards">
                            <div class="col-xs-12">

                                <span class="card-name">
                                    <i class="fa fa-lock" aria-hidden="true" data-ng-show="card.type == 'private'"></i>
                                    <i class="fa fa-unlock-alt" aria-hidden="true" data-ng-show="card.type == 'public'"></i>
                                    {{card.name}}
                                </span>

                                <div class="card-address">{{card.address}}</div>
                                <div class="col-xs-12">
                                    <div data-ng-show="card.distance" class="card-miles">{{card.distance}} miles away</div>
                                </div>
                                <div class="col-xs-12">
                                    <div data-ng-show="card.phone" class="card-phone">Phone: {{card.phone}}</div>
                                    <div data-ng-show="card.email" class="card-email">Email: {{card.email}}</div>
                                    <div data-ng-show="card.website" class="card-website">Website: {{card.website}}</div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="card-sports-group">
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Basketball') >= 0)" src="img/sports/sport1.png" alt="saport1"><img data-ng-show="(card.sports.split(',').indexOf('Basketball') >= 0)" src="img/sports/sport1_h.png"
                                                alt="saport1"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Volleyball') >= 0)" src="img/sports/sport2.png" alt="saport2"><img data-ng-show="(card.sports.split(',').indexOf('Volleyball') >= 0)" src="img/sports/sport2_h.png"
                                                alt="saport2"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Soccer') >= 0)" src="img/sports/sport3.png" alt="saport3"><img data-ng-show="(card.sports.split(',').indexOf('Soccer') >= 0)" src="img/sports/sport3_h.png" alt="saport3"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="img/sports/sport4.png" alt="saport4"><img data-ng-show="(card.sports.split(',').indexOf('Bubble Soccer') >= 0)" src="img/sports/sport4_h.png"
                                                alt="saport4"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Football') >= 0)" src="img/sports/sport5.png" alt="saport5"><img data-ng-show="(card.sports.split(',').indexOf('Football') >= 0)" src="img/sports/sport5_h.png"
                                                alt="saport5"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Tennis') >= 0)" src="img/sports/sport6.png" alt="saport6"><img data-ng-show="(card.sports.split(',').indexOf('Tennis') >= 0)" src="img/sports/sport6_h.png" alt="saport6"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Hockey') >= 0)" src="img/sports/sport7.png" alt="saport7"><img data-ng-show="(card.sports.split(',').indexOf('Hockey') >= 0)" src="img/sports/sport7_h.png" alt="saport7"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="img/sports/sport8.png" alt="saport8"><img data-ng-show="(card.sports.split(',').indexOf('Baseball/Softball') >= 0)" src="img/sports/sport8_h.png"
                                                alt="saport8"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Racquetball') >= 0)" src="img/sports/sport9.png" alt="saport9"><img data-ng-show="(card.sports.split(',').indexOf('Racquetball') >= 0)" src="img/sports/sport9_h.png"
                                                alt="saport9"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Zumba') >= 0)" src="img/sports/class1.png" alt="class1"><img data-ng-show="(card.sports.split(',').indexOf('Zumba') >= 0)" src="img/sports/class1_h.png" alt="class1"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Yoga') >= 0)" src="img/sports/class2.png" alt="class2"><img data-ng-show="(card.sports.split(',').indexOf('Yoga') >= 0)" src="img/sports/class2_h.png" alt="class2"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Pilates') >= 0)" src="img/sports/class3.png" alt="class3"><img data-ng-show="(card.sports.split(',').indexOf('Pilates') >= 0)" src="img/sports/class3_h.png" alt="class3"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Boxing') >= 0)" src="img/sports/class4.png" alt="class4"><img data-ng-show="(card.sports.split(',').indexOf('Boxing') >= 0)" src="img/sports/class4_h.png" alt="class4"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="img/sports/class5.png" alt="class5"><img data-ng-show="(card.sports.split(',').indexOf('Kickboxing') >= 0)" src="img/sports/class5_h.png"
                                                alt="class5"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="img/sports/class6.png" alt="class6"><img data-ng-show="(card.sports.split(',').indexOf('Jazzercise') >= 0)" src="img/sports/class6_h.png"
                                                alt="class6"></div>
                                        <div class="card-sport"><img data-ng-show="!(card.sports.split(',').indexOf('Spin') >= 0)" src="img/sports/class7.png" alt="class7"><img data-ng-show="(card.sports.split(',').indexOf('Spin') >= 0)" src="img/sports/class7_h.png" alt="class7"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <slick infinite="true" dots="false" arrows="false" responsive="breakpoints" slides-to-show="7" slides-to-scroll="3" class="col-xs-12 no-padding text-center">
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.mon}">
                                        <div>Mon</div>
                                        <div data-ng-show="!card.hours.mon">Not working</div>
                                        <div data-ng-show="card.hours.mon">{{card.hours.mon.start | filterClock}} <br> {{card.hours.mon.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.tue}">
                                        <div>Tue</div>
                                        <div data-ng-show="!card.hours.tue">Not working</div>
                                        <div data-ng-show="card.hours.tue">{{card.hours.tue.start | filterClock}} <br> {{card.hours.tue.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.wed}">
                                        <div>Wed</div>
                                        <div data-ng-show="!card.hours.wed">Not working</div>
                                        <div data-ng-show="card.hours.wed">{{card.hours.wed.start | filterClock}} <br> {{card.hours.wed.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.thu}">
                                        <div>Thu</div>
                                        <div data-ng-show="!card.hours.thu">Not working</div>
                                        <div data-ng-show="card.hours.thu">{{card.hours.thu.start | filterClock}} <br> {{card.hours.thu.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.fri}">
                                        <div>Fri</div>
                                        <div data-ng-show="!card.hours.fri">Not working</div>
                                        <div data-ng-show="card.hours.fri">{{card.hours.fri.start | filterClock}} <br> {{card.hours.fri.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.sat}">
                                        <div>Sat</div>
                                        <div data-ng-show="!card.hours.sat">Not working</div>
                                        <div data-ng-show="card.hours.sat">{{card.hours.sat.start | filterClock}} <br> {{card.hours.sat.end | filterClock}}</div>
                                    </div>
                                    <div class="work_day-hour" data-ng-class="{'works_hour': card.hours.sun}">
                                        <div>Sun</div>
                                        <div data-ng-show="!card.hours.sun">Not working</div>
                                        <div data-ng-show="card.hours.sun">{{card.hours.sun.start | filterClock}} <br> {{card.hours.sun.end | filterClock}}</div>
                                    </div>
                                </slick>
                            </div>
                            <div class="clearFix">
                                <div class="col-xs-6">
                                    <div class="card-members text-left" style="padding-left: 6px;">
                                        Members {{card.members | number:0}}
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right" style="padding-right: 21px;">
                                    <a ui-sref="app.club-page({'club_id':card.id})" class="card-more"><i class="fa fa-info-circle" aria-hidden="true"></i> more</a>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button data-ng-if="!card.favorite" data-ng-click="addFavorite(card.id,index)" class="card-request-favorite">
                                    <i class="fa  fa-star" aria-hidden="true"></i>
                                </button>
                                <button data-ng-if="card.favorite" data-ng-click="removeFavorite(card.id,index)" class="card-request-favorite-add">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-xs-8">
                                <button data-ng-if="card.me_member == 0" class="card-request-membership" data-ng-click="requestMembership(card.id, index, card.price, card.name, card.type)">
                                    <div ng-if="!clubReguest">
                                        <i class="fa fa-user-plus lg" aria-hidden="true"></i>

                                        <span data-ng-if="card.price > 0">{{card.price}}$</span>
                                        <span>Request Membership</span>
                                    </div>
                                    <span class="pending" data-ng-if="clubReguest">Pending</span>
                                </button>
                                <button data-ng-if="card.me_member != 0" class="card-request-membership" data-ng-click="removeMembership(card.id, index)">
                                    <div data-ng-if="!clubReguest">
                                        <i class="fa fa-user-times lg" aria-hidden="true"></i>
                                        <span>Member</span>
                                    </div>
                                    <span class="pending" data-ng-if="clubReguest">Pending</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">My Popover Title</h1>
        </ion-header-bar>
        <ion-content>
            Hello!
        </ion-content>
    </ion-popover-view>
</script>
<aside class="right-sidebar" data-ng-class="hintS == '1' ? 'hintRightFilterBlock' : '' " data-is-enabled="true">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="">
                        <button class="clear-btn" ng-click="clearFil()">Clear</button>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="no-margin clearFix">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball" data-ng-model="filter.sport[1]" data-ng-change="setFilter()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball" data-ng-model="filter.sport[2]" data-ng-change="setFilter()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer" data-ng-model="filter.sport[3]" data-ng-change="setFilter()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer" data-ng-model="filter.sport[4]" data-ng-change="setFilter()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football" data-ng-model="filter.sport[5]" data-ng-change="setFilter()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis" data-ng-model="filter.sport[6]" data-ng-change="setFilter()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey" data-ng-model="filter.sport[7]" data-ng-change="setFilter()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball" data-ng-model="filter.sport[8]" data-ng-change="setFilter()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball" data-ng-model="filter.sport[9]" data-ng-change="setFilter()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba" data-ng-model="filter.sport[10]" data-ng-change="setFilter()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga" data-ng-model="filter.sport[11]" data-ng-change="setFilter()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates" data-ng-model="filter.sport[12]" data-ng-change="setFilter()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing" data-ng-model="filter.sport[13]" data-ng-change="setFilter()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing" data-ng-model="filter.sport[14]" data-ng-change="setFilter()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise" data-ng-model="filter.sport[15]" data-ng-change="setFilter()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin" data-ng-model="filter.sport[16]" data-ng-change="setFilter()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>
                    <div class=" no-margin">
                        <div class="filter-title">Business Name</div>
                        <div class="filter-group">
                            <input type="text" class="filter-name" data-ng-model="filter.business_name" data-ng-change="setFilter()">
                        </div>
                    </div>
                    <div class=" no-margin">
                        <div class="filter-title">Location</div>
                        <div class="distance-box">
                            <div class="filter-radio-group" data-ng-class="distanceClass">
                                <div class="distance-group">
                                    <input type="radio" id="distance5" name="filter-distance" data-ng-disabled="distanceDisabled" value="10" data-ng-model="filter.distance" data-ng-change="setFilter()">
                                    <label for="distance5" class="distance5">10 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance10" name="filter-distance" data-ng-disabled="distanceDisabled" value="25" data-ng-model="filter.distance" data-ng-change="setFilter()">
                                    <label for="distance10" class="distance10">25 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance25" name="filter-distance" data-ng-disabled="distanceDisabled" value="1000000" data-ng-model="filter.distance" data-ng-change="setFilter()">
                                    <label for="distance25" class="distance25">All</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>
<!--<aside class="right-sidebar" data-ng-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:scroll"  ng-class="hintCl == '1' ? 'hintRightFilterBlock' : '' ">
    <div class="sidebar-content">
        <form name="filterForm">
          <div class="row">
              <button class="clear-btn" ng-click="clearFil()">Clear</button>
          </div>
            <div class="filter-title">Sport</div>
            <div class="row no-margin">
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                               data-ng-model="filter.sport[1]" data-ng-change="setFilter()">
                        <label for="filter-sport1" class="sport1-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                               data-ng-model="filter.sport[2]" data-ng-change="setFilter()">
                        <label for="filter-sport2" class="sport2-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                               data-ng-model="filter.sport[3]" data-ng-change="setFilter()">
                        <label for="filter-sport3" class="sport3-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                               data-ng-model="filter.sport[4]" data-ng-change="setFilter()">
                        <label for="filter-sport4" class="sport4-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                               data-ng-model="filter.sport[5]" data-ng-change="setFilter()">
                        <label for="filter-sport5" class="sport5-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                               data-ng-model="filter.sport[6]" data-ng-change="setFilter()">
                        <label for="filter-sport6" class="sport6-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                               data-ng-model="filter.sport[7]" data-ng-change="setFilter()">
                        <label for="filter-sport7" class="sport7-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball"
                               data-ng-model="filter.sport[8]" data-ng-change="setFilter()">
                        <label for="filter-sport8" class="sport8-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                               data-ng-model="filter.sport[9]" data-ng-change="setFilter()">
                        <label for="filter-sport9" class="sport9-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                               data-ng-model="filter.sport[10]" data-ng-change="setFilter()">
                        <label for="filter-sport10" class="class1-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                               data-ng-model="filter.sport[11]" data-ng-change="setFilter()">
                        <label for="filter-sport11" class="class2-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                               data-ng-model="filter.sport[12]" data-ng-change="setFilter()">
                        <label for="filter-sport12" class="class3-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                               data-ng-model="filter.sport[13]" data-ng-change="setFilter()">
                        <label for="filter-sport13" class="class4-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                               data-ng-model="filter.sport[14]" data-ng-change="setFilter()">
                        <label for="filter-sport14" class="class5-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                               data-ng-model="filter.sport[15]" data-ng-change="setFilter()">
                        <label for="filter-sport15" class="class6-icon"></label>
                    </div>
                </div>
                <div class="sport-Box">
                    <div class="filter-group">
                        <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                               data-ng-model="filter.sport[16]" data-ng-change="setFilter()">
                        <label for="filter-sport16" class="class7-icon"></label>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="filter-title">Business Name</div>
                <div class="filter-group">
                    <input type="text" class="filter-name" data-ng-model="filter.business_name"
                           data-ng-change="setFilter()">
                    &lt;!&ndash;data-ng-model-options="{ debounce: 2000 }"&ndash;&gt;
                </div>
            </div>
            <div class="row no-margin">
                <div class="filter-title">Location</div>
                <div class="distance-box">
                    <div class="filter-radio-group" data-ng-class="distanceClass">
                        <div class="distance-group">
                            <input type="radio" id="distance5" name="filter-distance"
                                   data-ng-disabled="distanceDisabled" value="10"
                                   data-ng-model="filter.distance"
                                   data-ng-change="setFilter()">
                            <label for="distance5" class="distance5">10 m</label>
                        </div>
                        <div class="distance-group">
                            <input type="radio" id="distance10" name="filter-distance"
                                   data-ng-disabled="distanceDisabled" value="25"
                                   data-ng-model="filter.distance"
                                   data-ng-change="setFilter()">
                            <label for="distance10" class="distance10">25 m</label>
                        </div>
                        <div class="distance-group">
                            <input type="radio" id="distance25" name="filter-distance"
                                   data-ng-disabled="distanceDisabled" value="1000000"
                                   data-ng-model="filter.distance"
                                   data-ng-change="setFilter()">
                            <label for="distance25" class="distance25">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</aside>-->
