<ion-view>
    <ion-content style="height: 100vh !important;">
        <div class="signup-box" data-flow-init
             data-flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
             data-flow-files-submitted="$flow.upload()"
             data-flow-file-success="file_uploaded($file, $message, $flow)">
            <form name="signupForm" data-ng-submit="signUp(signupForm)" class="clearFix" style="min-height: 480px;">
                <div class="signup-head">
                    <div class="prev-state">
                        <div class="col-xs-4 no-padding"><a data-ui-sref="signin"><i class="ion-android-arrow-back"></i></a>
                        </div>
                        <div class="col-xs-4 no-padding text-center view-title">Sign Up</div>
                        <div class="col-xs-4 no-padding text-right view-done"><a data-ui-sref="signin">Done</a></div>
                    </div>
                    <div class="upload-avatar">
                        <div class="thumbnail" data-ng-hide="$flow.files.length" data-flow-btn
                             data-flow-attrs="{accept:'image/*'}">
                        </div>
                        <div class="thumbnail thumbnail_ico" data-ng-style="($flow.files.length)?{display: 'block'}:''"
                             data-flow-btn
                             data-flow-attrs="{accept:'image/*'}">
                            <img data-flow-img="$flow.files[0]" alt=""/>
                        </div>
                        <div class="upload-text" data-flow-btn
                             data-flow-attrs="{accept:'image/*'}">
                        </div>
                    </div>
                </div>
                <div class="sign-up-group">
                    <input type="text" name="firstname" data-ng-model="userData.first_name"
                           class="firstname-control sign-up-control required" required="true"
                           placeholder="First Name" tabindex="1" autocomplete="off">
                </div>
                <div class="sign-up-group">
                    <input type="text" name="lastname" data-ng-model="userData.last_name"
                           class="lastname-control sign-up-control required" required="true"
                           placeholder="Last Name" tabindex="2" autocomplete="off">
                </div>
                <div class="sign-up-group">
                    <input type="email" name="email" data-ng-pattern="emailFormat"
                           data-ng-model="userData.email"
                           class="email-control sign-up-control required" required="true"
                           placeholder="Email Address" tabindex="3" autocomplete="off">
                </div>

                <div class="sign-up-group">
                    <input type="password" name="password" data-ng-model="userData.password"
                           class="password-control sign-up-control required" required="true"
                           placeholder="Choose Password" tabindex="4" autocomplete="off">
                </div>

                <div class="col-xs-12 no-padding">
                    <div class="sign-up-group">
                        <select required="required" data-ng-model="userData.telCode"
                                class="dial-code-control sign-up-control">
                            <option data-ng-repeat="code in telephone | orderBy: 'dial_code' | unique:'dial_code'"
                                    value="{{code.dial_code}}">{{code.dial_code}}
                            </option>
                        </select>
                    </div>
                    <div class="sign-up-group">
                        <input type="tel" class="phone-control sign-up-control" phone-input data-ng-model="userData.tel" value="{{userData.tel | tel}}" placeholder="(999) 999-9999"
                               required="true" tabindex="5">
                    </div>
                </div>
                <button type="submit" class="get-started button_bottom">Get started</button>
            </form>
        </div>
    </ion-content>
</ion-view>
