<ion-view view-title="Sign Up">
    <ion-content>
        <script type="text/ng-template" id="forgotTpl.html">
            <form name="forgot" data-ng-controller="forgotCtrl" data-ng-submit="send(forgot)" data-ng-show="!data.success">
                <div>
                    <input style="padding-left: 15px;" class="forgot-control" type="email" data-ng-pattern="emailFormat" required="true" data-ng-model="data.email" placeholder="Enter you mail">
                </div>
                <p style="color:white;">{{data.error}}</p>
                <button class="forgot-btn">Send</button>
            </form>
        </script>
        <div class="signin-tpl">
            <div class="clearFix prev-state">
                <div class="col-xs-4 no-padding"><a data-ui-sref="start"><i class="ion-android-arrow-back"></i></a></div>
            </div>
            <div class="clearFix">
                <div class="col-xs-12">
                    <div class="logo-img">
                        <img src="img/m-logo.png" alt="logo">
                    </div>

                    <form class="login-form" name="userForm" data-ng-controller="loginCtrl"
                          data-ng-submit="submitForm()">
                        <div class="form-group login-group"">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="username-control input"
                                   data-ng-model="data.email" data-ng-blur="checkUsername()"
                                   placeholder="{{error.email}}" my-enter="login()">
                        </div>
                        <div class="form-group login-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="password-control"
                                   data-ng-model="data.password" data-ng-blur="checkPassword()"
                                   placeholder="{{error.password}}" my-enter="login()">

                        </div>
                        <div class="button-signin" ng-click="login()">Sign In</div>

                        <div data-ng-click="facebookSignIn()" class="button-signin-f">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            Sign Up with Facebook
                        </div>
                    </form>


                    <div class="signin-after">
                        <div class="col-xs-6 login-forgot-pass no-padding" data-ng-click="ForgotOpen()">
                            Forgot password?
                        </div>
                        <div class="col-xs-6 login-signup no-padding">
                            <a data-ui-sref="signup">Sign Up</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>