<ion-view>
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-xs-8 view-title">Socil Connect</div>
                <div class="col-xs-2"></div>
            </div>
            <div class="col-xs-12" ng-if="data.user">
                <div ng-if="!data.user.social_id" data-ng-click="facebookSignIn()" class="button-signin-f">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    Connect Facebook
                </div>
                <div ng-if="data.user.social_id" data-ng-click="facebookSignIn()" class="button-signin-f">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    Change Facebook
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
