<ion-view>
    <ion-content>
        <div class="start_tpl">
            <div class="logo-img">
                <img src="img/m-logo.png" alt="logo">
            </div>
            <div class="mobile-bg">
                <img src="img/phone-bg.png" alt="">

            </div>
            <div class="login-text">Onboarding: just a little about Gymventory and how it can help you find
                pick up
                sports in your area.
                <a data-ui-sref="signin" class="start-button">Get started <i class="ion-android-arrow-forward"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>