<ion-view data-ng-class="rightSidebar">
    <ion-content>
<div class="teammates-bg">
    <div class="head-panel">
        <div class="col-sm-2 col-xs-2 clearFix">
            <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
            </button>
        </div>
        <div class="col-sm-8 col-xs-8 view-title">Teammates</div>
        <div class="col-xs-2"><i class="fa fa-filter" aria-hidden="true" data-ng-click="toggleRight('toggled')"></i></div>
    </div>
    <div class="head-panel clearFix">
        <div class="col-xs-12">
            <div class="col-xs-4 tab-group two-tab "><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-all" data-ng-model="tab_team" value="all" data-ng-click="tab_teamChange('online')"><label for="lobby-all" >Online</label></div>
            <div class="col-xs-4 tab-group two-tab left-tab"><input type="radio" name="tab-lobby" class="tab-lobby" id="lobby-joined" data-ng-model="tab_team" value="joined" data-ng-click="tab_teamChange('favorites')"><label for="lobby-joined">Favorites</label></div>
            <div class="col-xs-4 tab-group two-tab ">
                <div class="dropdown-box col-xs-12 no-padding">
                    <div class="btn-group" uib-dropdown>
                        <input type="radio" name="tab-lobby" class="tab-lobby" data-ng-checked="btnClick">
                        <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                            aria-labelledby="split-button">
                            <li role="menuitem">
                                <div class="col-xs-12 tab-group"><label data-ng-click="tab_teamChange('recent')">Recent</label></div>
                            </li>
                            <li role="menuitem">
                                <div class="col-xs-12 tab-group"><label data-ng-click="tab_teamChange('all')">All</label></div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-content clearfix" data-ng-class="rightSidebar">
        <div class="col-lg-12 profile no-padding">
            <div class="no-margin search-address-box">
                <input type="text" placeholder="Search Address" class="search-input-address" data-g-places-autocomplete
                       data-ng-model="filter.address"
                       data-ng-change="changeAddress()">
                <button data-ng-show="myPosition" data-ng-click="setAddress()" type="button" class="myPosition">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </button>
            </div>
            <div class="no-margin teammates-box-1 clearFix">
                <ion-list>
                    <ion-item data-ng-repeat="(index, team) in teammates_arr" item="item" class="teammate-card clearFix" data-ng-click="show_user(team.user_id)">
                        <div class="sport-img-box">
                            <div class="t_box-avatar">
                                <div class="t_verification" data-ng-show="team.sports.length>=1"></div>
                                <div class="t_status offline" data-ng-class="{'online': users.online.indexOf(''+team.user_id)!=-1}"></div>
                                <div class="t_favorites"></div>
                                <a href="https://www.facebook.com/{{team.social_id}}" data-ng-show="team.type == 2"><div class="t_facebook"></div></a>
                                <img class="t_avatar" src="{{team.avatar | avatar_type}}" alt="">
                            </div>
                        </div>
                        <div class="item-content-box">
                            <div class="t_name">{{team.first_name}} {{team.last_name}}</div>
                            <div class="address" >{{(team.address)?team.address:'---'}}</div>
                            <div class="max_countWrapper col-md-12 col-xs-6 no-padding">
                                <div class="members_count clearFix">
                                    <div class="col_count"
                                         data-ng-class="{'full':(card.number_members==card.global_members), 'green':(member<card.global_members)}"
                                         data-ng-repeat="member in (card.members_range)"
                                         data-number="{{member}}"></div>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>

        </div>
    </div>
</div>
    </ion-content>
</ion-view>

<aside class="right-sidebar" ng-class="hintS == '1' ? 'hintRightFilterBlock' : '' " is-enabled="true">
    <ion-view>
        <ion-content>
            <div class="sidebar-content">
                <form name="filterForm">
                    <div class="no-margin">
                        <div class="filter-title">Location</div>
                        <div class="distance-box">
                            <div class="filter-radio-group" data-ng-class="distanceClass">
                                <div class="distance-group">
                                    <input type="radio" id="distance5" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="5"
                                           data-ng-model="filter.distance"
                                           ng-click="deselect(5)">
                                    <label for="distance5" class="distance5">5 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance10" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="10"
                                           data-ng-model="filter.distance"

                                           ng-click="deselect(10)">
                                    <label for="distance10" class="distance10">10 m</label>
                                </div>
                                <div class="distance-group">
                                    <input type="radio" id="distance25" name="filter-distance"
                                           data-ng-disabled="distanceDisabled" value="25"
                                           data-ng-model="filter.distance"

                                           ng-click="deselect(25)">
                                    <label for="distance25" class="distance25">25 m</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-title">Sport</div>
                    <div class="no-margin">
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport1" name="filter-sport[1]" value="Basketball"
                                       data-ng-model="filter.sport[1]" data-ng-change="findTeammates()">
                                <label for="filter-sport1" class="sport1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport2" name="filter-sport[2]" value="Volleyball"
                                       data-ng-model="filter.sport[2]" data-ng-change="findTeammates()">
                                <label for="filter-sport2" class="sport2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport3" name="filter-sport[3]" value="Soccer"
                                       data-ng-model="filter.sport[3]" data-ng-change="findTeammates()">
                                <label for="filter-sport3" class="sport3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport4" name="filter-sport[4]" value="Bubble Soccer"
                                       data-ng-model="filter.sport[4]" data-ng-change="findTeammates()">
                                <label for="filter-sport4" class="sport4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport5" name="filter-sport[5]" value="Football"
                                       data-ng-model="filter.sport[5]" data-ng-change="findTeammates()">
                                <label for="filter-sport5" class="sport5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport6" name="filter-sport[6]" value="Tennis"
                                       data-ng-model="filter.sport[6]" data-ng-change="findTeammates()">
                                <label for="filter-sport6" class="sport6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport7" name="filter-sport[7]" value="Hockey"
                                       data-ng-model="filter.sport[7]" data-ng-change="findTeammates()">
                                <label for="filter-sport7" class="sport7-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport8" name="filter-sport[8]" value="Baseball/Softball"
                                       data-ng-model="filter.sport[8]" data-ng-change="findTeammates()">
                                <label for="filter-sport8" class="sport8-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport9" name="filter-sport[9]" value="Racquetball"
                                       data-ng-model="filter.sport[9]" data-ng-change="findTeammates()">
                                <label for="filter-sport9" class="sport9-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport10" name="filter-sport[10]" value="Zumba"
                                       data-ng-model="filter.sport[10]" data-ng-change="findTeammates()">
                                <label for="filter-sport10" class="class1-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport11" name="filter-sport[11]" value="Yoga"
                                       data-ng-model="filter.sport[11]" data-ng-change="findTeammates()">
                                <label for="filter-sport11" class="class2-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport12" name="filter-sport[12]" value="Pilates"
                                       data-ng-model="filter.sport[12]" data-ng-change="findTeammates()">
                                <label for="filter-sport12" class="class3-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport13" name="filter-sport[13]" value="Boxing"
                                       data-ng-model="filter.sport[13]" data-ng-change="findTeammates()">
                                <label for="filter-sport13" class="class4-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport14" name="filter-sport[14]" value="Kickboxing"
                                       data-ng-model="filter.sport[14]" data-ng-change="findTeammates()">
                                <label for="filter-sport14" class="class5-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport15" name="filter-sport[15]" value="Jazzercise"
                                       data-ng-model="filter.sport[15]" data-ng-change="findTeammates()">
                                <label for="filter-sport15" class="class6-icon"></label>
                            </div>
                        </div>
                        <div class="sport-Box">
                            <div class="filter-group">
                                <input type="checkbox" id="filter-sport16" name="filter-sport[16]" value="Spin"
                                       data-ng-model="filter.sport[16]" data-ng-change="findTeammates()">
                                <label for="filter-sport16" class="class7-icon"></label>
                            </div>
                        </div>
                    </div>

                    <div class="no-margin">
                        <div class="filter-title">Name</div>
                        <div class="filter-group">
                            <input class="filter-name ng-pristine ng-valid ng-empty ng-touched"
                                   data-ng-model="filter.name" data-ng-change="findTeammates()" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-view>
</aside>