<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round"
                                                                                          style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Transactions</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.profile"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Settings</label>
                    </div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.transactions"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Transactions</label>
                    </div>
                    <div class="col-xs-4 tab-group two-tab end-tabs"><label data-ui-sref="app.withdrawal"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Withdrawal</label>
                    </div>
                </div>
            </div>
            <div class="clearFix no-margin">
                <div class="col-lg-12 profile" style="padding-bottom: 15px;">
                    <div class="clearFix no-margin withdraw-wrap clearFix" style="padding: 5px 20px 30px 20px;" data-ng-repeat="item in transactions">
                        <div class="clearFix no-margin history-box">
                            <div class="col-xs-12 history-head">Payment Id</div>
                            <div class="col-xs-12">{{item.payment_id}}</div>
                            <div class="col-xs-12 history-head">Action</div>
                            <div class="col-xs-12">{{item.action}}</div>
                            <div class="col-xs-12 history-head">Date</div>
                            <div class="col-xs-12 ">{{item.date}}</div>
                            <div class="col-xs-12 history-head">Credits</div>
                            <div class="col-xs-12 ">{{item.credits}}</div>
                            <div class="col-xs-12 history-head">Fees</div>
                            <div class="col-xs-12 ">{{item.fees}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
