<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="bg1">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round"
                                                                                          style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Withdrawal</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.profile"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Settings</label>
                    </div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.transactions"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Transactions</label>
                    </div>
                    <div class="col-xs-4 tab-group two-tab end-tabs"><label data-ui-sref="app.withdrawal"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Withdrawal</label>
                    </div>
                </div>
            </div>
            <div class="clearFix no-margin" style="padding-bottom: 15px;">
                <div class="col-lg-12 profile">
                    <div data-ng-if="withdrawal.countClubs" class="clearFix no-margin withdraw-wrap clearFix">
                        <div class="col-xs-12 no-padding withdraw-box">
                            <div class="head-withdraw">Balance</div>
                            <span>{{withdrawal.all_credits | number:2}} <i class="fa fa-usd"
                                                                           aria-hidden="true"></i></span>
                        </div>
                        <div class="col-xs-12 no-padding withdraw-box">
                            <div class="head-withdraw">Withdrawal Fee</div>
                            <span>{{withdrawal.percent}}%</span>
                        </div>
                        <div class="col-xs-12 no-padding withdraw-box">
                            <div class="head-withdraw"> Minimum to withdraw</div>
                            <span>{{withdrawal.minimum}} <i class="fa fa-usd" aria-hidden="true"></i></span>
                        </div>
                        <div class="col-xs-12 no-padding withdraw-box">
                           <!-- <div class="head-withdraw">Available credits</div>
                            <span>{{withdrawal.avaible | number:2}} <i class="fa fa-usd" aria-hidden="true"></i></span>-->
                            <button class="withdrawal-btn" data-ng-disabled="withdrawal.disable" data-ng-model="button"
                                    data-ng-if="withdrawal.showBtn" data-ng-click="createWithdrawal()">Withdrawal
                            </button>
                        </div>
                    </div>
                    <div class="clearFix no-margin withdraw-wrap" style="padding: 5px 20px 30px 20px;" data-ng-repeat="item in history">
                        <div class="clearFix no-margin history-box">
                            <div class="col-xs-12 history-head">Id</div>
                            <div class="col-xs-12">{{item.id}}</div>
                            <div class="col-xs-12 history-head">Withdrawal id</div>
                            <div class="col-xs-12">{{item.payout_id}}</div>
                            <div class="col-xs-12 history-head">Amount</div>
                            <div class="col-xs-12">{{item.amount}} <i class="fa fa-usd" aria-hidden="true"></i></div>
                            <div class="col-xs-12 history-head">Time created</div>
                            <div class="col-xs-12">{{item.time_created | date:"medium"}}</div>
                            <div class="col-xs-12 history-head">Time completed</div>
                            <div class="col-xs-12">{{item.time_completed | date:"medium"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>