.paypalCredit-box{
    max-width: 600px;
    background: #ffffff;
    position: relative;
}
.paypalCredit-box > *{
    width: 100%;
    height: auto;
    outline: none;
}
.paypalCredit-box:after{
    display: block;
    content: '';
    clear: both;
}
.paypalCredit-box .paypalCredit-group .cc-control{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    line-height: 49px;
    font-size: 15px;
    color: #4d606f;
    font-family: "Source Sans Pro";
    font-weight: 300;
    float: left;
    text-align: center;
}
.paypalCredit-box .paypalCredit-group{
    float: left;
    text-align: center;
}
.paypalCredit-box .paypalCredit-group label{
    color: rgb(173, 173, 173);
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 11px;
}
.paypalCredit-box .paypalCredit-group input[type='radio']:checked + label{
    color: #f73267;
}
.paypalCredit-box .paypalCredit-group label[for="cc-mastercard"]{
    display: block;
    margin: 0 15px;
}
.paypalCredit-box .paypalCredit-group label[for="cc-mastercard"],
.paypalCredit-box .paypalCredit-group label[for="cc-visa"]{
    cursor: pointer;
}
.paypalCredit-box .paypalCredit-group .modal-required {
    background: url("/img/required.png") 23px 24px no-repeat;
}
.paypalCredit-box .paypalCredit-group input.paypalCredit-type{
    display: none;
}
.paypalCredit-box .paypalCredit-head label{
    display: block;
    line-height: 50px;
    color: rgb(173, 173, 173);
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.paypal_types input[type='radio']{
    display: none;
}
.paypal_types input[type='radio'] + label{
    width: 100%;
    background: #c72957;
    height: 45px;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 !important;
}
.paypal_types input[type='radio']:checked + label{
    background: #b2244a;
}
.paypalCredit-box .modal-btn{
    background: #5883d2;
}