<form class="paypalCredit-box">
    <div class="row no-margin">
        <div class="col-sm-2">
            <i class="fa fa-paypal fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-4 col-sm-offset-6 no no-padding">
            <div class="pull-right">
                <div class="paypalCredit-group">
                    <input type="radio" name="paypalCredit-type" class="paypalCredit-type" id="cc-visa" value="visa" data-ng-model="cc.type">
                    <label for="cc-visa"><i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i></label>
                </div>
                <div class="paypalCredit-group">
                    <input type="radio" name="paypalCredit-type" class="paypalCredit-type" id="cc-mastercard" value="mastercard" data-ng-model="cc.type">
                    <label for="cc-mastercard"><i class="fa fa-cc-mastercard fa-3x" aria-hidden="true"></i></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-sm-12 no-padding paypalCredit-group">
            <input type="text" class="cc-control" data-ng-model="cc.number" data-ui-mask="9999 - 9999 - 9999 - 9999" data-ui-mask-placeholder=" "
                   data-ui-mask-placeholder-char="_">
            <label for="">Card Number</label>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-sm-4 col-sm-offset-1 no-padding paypalCredit-group">
            <input type="text" class="cc-control" data-ng-model="cc.expire_month_year" data-ui-mask="99 / 9999" data-ui-mask-placeholder=""
                   data-ui-mask-placeholder-char="_">
            <label for="">Expiration Date</label>
        </div>
        <div class="col-sm-4 col-sm-offset-2 no-padding paypalCredit-group">
            <input type="text" class="cc-control" data-ng-model="cc.cvv2" data-ui-mask="999" data-ui-mask-placeholder=""
                   data-ui-mask-placeholder-char="_">
            <label for="">cvv2/cvc2</label>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-sm-5 col-sm-offset-1 no no-padding paypalCredit-group">
            <input type="text" class="cc-control" data-ng-model="cc.first_name" placeholder="First Name">
        </div>
        <div class="col-sm-5 no no-padding paypalCredit-group">
            <input type="text" class="cc-control" data-ng-model="cc.last_name" placeholder="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 informer-text">
            <div ng-show="success_text">
                <span>{{inform_text}}</span>
            </div>
            <div ng-show="loading_spiner">
                Sending payment <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <button class="modal-btn" data-ng-click="make_payment()">Pay</button>
    </div>

</form>