<div class="invite_user-box">
    <ion-list>
        <ion-item ng-repeat="gameI in gamesArray" item="item" class="teammates-card">
            <div class="col-xs-3 no-padding">
                <div class="t_gameIcon no-padding">
                    <div class="m{{gameI.gym_sport.replace('/', '-')}}-icon-a icon-bg t_sport-type"></div>
                </div>
            </div>
            <div class="col-xs-9 no-padding name_box">
                <div class="col-xs-12 no-padding">
                    <i class="fa fa-lock fa-1x" aria-hidden="true"
                       data-ng-show="gameI.type == 'private'"></i>
                    <i class="fa fa-unlock-alt fa-1x" aria-hidden="true"
                       data-ng-show="gameI.type == 'public'"></i>
                    <span>{{ gameI.name }}</span>
                </div>
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-1 no-padding time_game" uib-tooltip="{{ gameI.start_time | filterClockEN}}">
                        <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-1 col-xs-offset-2 no-padding time_game"
                         uib-tooltip="{{ gameI.end_time | filterClockEN}}">
                        <div style="transform: rotate(180deg)"><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-2 no-padding time_game"
                         uib-tooltip="{{ gameI.date | date:'yyyy / MM / d'}}">
                        <i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-1 col-xs-offset-2 no-padding"
                         data-ng-if="gameI.invite > 0 || adding_invaite[gameI.id]">
                        <i class="invited_text">Invited</i>
                    </div>
                </div>
            </div>
            <ion-option-button class="button-assertive joined_bg" data-ng-click="set_invite($event, gameI.id)">
                <div class="btn_icon">
                    <i class="ion-ios-paperplane"></i>
                    <div class="btn-label">Invite</div>
                </div>
            </ion-option-button>
        </ion-item>
    </ion-list>
</div>