<div class="clearFix">
    <div class="no-margin div-search-box">
        <input class="teammates-filer-name" type="text" placeholder="Search" data-ng-model="search_name" data-ng-change="searchTeammate(search_name)">
    </div>
    <div class="count-teammates">Teammates added <span>{{game_invites.length}}</span></div>
    <div>
        <div class="teammates-card clearFix" data-ng-repeat="teammate in teammates_arr">
            <label class="list" data-ng-click="setInvite(teammate.id)">
                <input type="checkbox" data-ng-model="objInvite[teammate.id]" class="teammate_input">
                <div class="item item-avatar">
                    <div class="box-avatar"><img data-ng-src="{{(teammate.avatar)?teammate.avatar:'/img/no_avatar_vopros.jpg'}}"></div>
                    <h2>{{teammate.first_name}} {{teammate.last_name}}</h2>
                    <div>
                        {{teammate.address}}
                        <div data-ng-if="teammate.type == 2">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>