<diw class="clearFix newGameBox">
    <div class="col-lg-12 gyms-box manage-box" data-ng-repeat="item in gymsObj">
        <div class="club-item_box">
            <div class="col-xs-12 top25" style="text-align: center">
                <div class="m{{item.gym_sport.replace('/', '-')}}-icon-a icon-bg"></div>
            </div>
            <div class="col-xs-12">
                    <div class="court_name col-xs-6">{{item.name}}</div>
                    <div class="court_access  col-xs-6" data-ng-if="item.type == 'private'"><i class="fa fa-lock"
                                                                                     aria-hidden="true"></i> Private
                    </div>
                    <div class="court_access  col-xs-6" data-ng-if="item.type == 'public'"><i class="fa fa-unlock"
                                                                                    aria-hidden="true"></i> Public
                    </div>
            </div>
            <div class="col-xs-6 top25">
                <div class="court_price col-md-12 col-xs-4"><i class="fa fa-usd" aria-hidden="true"
                                                               uib-tooltip='Non-Member Price/Hr'></i> {{item.price}}
                </div>
                <div class="court_price col-md-12 col-xs-4"><i class="fa fa-usd" aria-hidden="true"
                                                               uib-tooltip='Member Price/Hr'></i>
                    {{item.price_for_member}}
                </div>
            </div>
            <div class="col-xs-6 top25">
                <div class="court_number col-md-12 col-xs-4"><i class="fa fa-users" aria-hidden="true"
                                                                uib-tooltip='Max Players'></i>
                    {{item.number_members}}
                </div>
                <div class="court_members col-md-12 col-xs-4"><i class="fa fa-chevron-left" aria-hidden="true"
                                                                 uib-tooltip='Min Players'></i> {{item.min_members}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 clearFix">
        <div class="col-sm-6">
            <div class="clearFix no-margin">
                <div class="filter-title">Date</div>
                <div class="filter-group">
                    <input type="text" class="filter-name" datepicker-append-to-body="true"
                           data-uib-datepicker-popup="fullDate" ng-model="game.dt"
                           data-is-open="popup2.opened" data-datepicker-options="dateOptions"
                           data-close-text="Close" data-ng-click="open2()"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="clearFix no-margin">
                <div class="filter-title">Gender</div>
                <div class="distance-box">
                    <div class="filter-radio-group">
                        <div class="distance-group">
                            <input type="radio" id="genderAll" name="filter-gender"
                                   value="All"
                                   data-ng-model="game.gender">
                            <label for="genderAll" class="distance5">All</label>
                        </div>
                        <div class="distance-group">
                            <input type="radio" id="genderMale" name="filter-gender"
                                   value="Male"
                                   data-ng-model="game.gender">
                            <label for="genderMale" class="distance10">Male</label>
                        </div>
                        <div class="distance-group">
                            <input type="radio" id="genderFemale" name="filter-gender"
                                   value="Female"
                                   data-ng-model="game.gender">
                            <label for="genderFemale" class="distance25">Female</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="clearFix no-margin">
                <div class="filter-title">Start/End time</div>
                <div class="filter-group">
                    <rzslider
                            rz-slider-model="startTime.value"
                            rz-slider-high="startTime.value2"
                            rz-slider-options="startTime.options"></rzslider>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6">
            <div class="row no-margin">
                <div class="filter-title">End time</div>
                <div class="filter-group">
                    <rzslider
                            rz-slider-model="endTime.value"
                            rz-slider-options="endTime.options"></rzslider>
                </div>
            </div>
        </div> -->
        <div class="col-sm-12">
            <div class="clearFix no-margin">
                <div class="filter-title">Age</div>
                <div class="filter-group">
                    <rzslider rz-slider-model="ageSlider.minValue"
                              rz-slider-high="ageSlider.maxValue"
                              rz-slider-options="ageSlider.options"></rzslider>
                </div>
            </div>
        </div>
    </div>
</diw>
<div class="clearFix no-margin top25">
    <button class="modal-btn" data-ng-click="createGame(game)">Create</button>
</div>
