<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="teammates-bg">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round" style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Notifications</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Classes</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Members</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Booking</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Notifications</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Requests</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearFix wrap-content">
                <div class="row no-margin">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button class="green_btn" data-ng-show="!show_add" data-ng-click="show_add = true;">Send
                            notification
                        </button>
                    </div>
                </div>
                <div class="clearFix no-margin">
                    <div class="col-xs-10 col-xs-offset-1 notification-addBox" data-ng-show="show_add">
                        <div class="n_group">
                            <input type="text" id="n_title" data-ng-model="notification.title"
                                   placeholder="Enter please notification title!">
                        </div>
                        <div class="n_group">
                            <wysiwyg textarea-id="description" textarea-placeholder="Enter please notification text!"
                                     textarea-class="form-control" textarea-height="100px"
                                     textarea-name="textareaDescription" textarea-required
                                     ng-model="notification.description" enable-bootstrap-title="true"
                                     textarea-menu="yourModel.customMenu"></wysiwyg>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="green_btn" data-ng-click="sendNotifications()">Send</button>
                        </div>
                    </div>
                </div>
                <div class="clearFix no-margin history_box">
                    <div class="history_card" data-ng-repeat="card in history">
                        <span class="title">{{card.title}}</span>
                        <div class="text" ng-bind-html="card.text"></div>
                        <small class="pull-right" style="color:white">{{card.time | date : "medium"}}</small>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>