<ion-view data-ng-class="rightSidebar">
    <ion-content>
        <div class="teammates-bg">
            <div class="head-panel">
                <div class="col-sm-2 col-xs-2 clearFix">
                    <button data-ng-click="toggleClass('toggled')" class="toggle-menu"><i class="ion-navicon-round"
                                                                                          style="font-size: 36px;"></i>
                    </button>
                </div>
                <div class="col-sm-8 col-xs-8 view-title">Requests</div>
            </div>
            <div class="head-panel clearFix">
                <div class="col-xs-12">
                    <div class="col-xs-4 tab-group two-tab first-tab"><label data-ui-sref="app.manage_clubs"
                                                                             data-ui-sref-opts="{reload: true}"
                                                                             ui-sref-active="active">Club</label></div>
                    <div class="col-xs-4 tab-group two-tab left-tab"><label data-ui-sref="app.clubCourts"
                                                                            data-ui-sref-opts="{reload: true}"
                                                                            ui-sref-active="active">Courts</label></div>
                    <div class="col-xs-4 tab-group two-tab ">
                        <div class="dropdown-box col-xs-12 no-padding">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-danger tab-btn" uib-dropdown-toggle>
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu clearFix" uib-dropdown-menu role="menu"
                                    aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubClasses"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Classes</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.members"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Members</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.booking"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Booking</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.b_notifications"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Notifications</label>
                                        </div>
                                    </li>
                                    <li role="menuitem">
                                        <div class="col-xs-12 tab-group"><label data-ui-sref="app.clubRequest"
                                                                                data-ui-sref-opts="{reload: true}"
                                                                                ui-sref-active="active">Requests</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearFix wrap-content toggled">
                <div class="clearFix no-margin notification-box">
                    <div class="col-md-12 notification-card clearFix ng-scope" data-ng-if="requests.length == 0">
                        <div class="col-xs12 request_text text-center">No request!</div>
                    </div>
                    <div class="col-xs-12 notification-card clearFix ng-scope" data-ng-repeat="request in requests">
                        <div class="col-xs12 request_text">User <a target="_blank" class="u_fio"
                                                                            ui-sref="app.user({'t_id':{{request.id}}})">{{request.first_name}}
                            {{request.last_name}}</a> has applied for membership to the club (<span
                                class="request_club">{{request.c_name}})</span></div>
                        <div class="col-md-3 col-xs-12">
                            <div class="col-xs-12 col-md-6">
                                <button class="accept_request"
                                        data-ng-click="accept_request($event, request.club_id, request.id)"><i
                                        class="fa fa-check" aria-hidden="true"></i> Accept
                                </button>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="decline_request"
                                        data-ng-click="decline_request($event, request.club_id, request.id)"><i
                                        class="fa fa-times" aria-hidden="true"></i> Decline
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>