<div class="no-margin feedback-bg2">
    <div class="no-margin game-box notif-text_box">
        <div class="col-sm-12 notif-text clearFix no-padding">
            <div class="text">
                <h1>{{text.text}}</h1>
                <p ng-bind-html="text.description"></p>
            </div>

        </div>
    </div>
</div>
