
/*
.uib-datepicker-popup.dropdown-menu {
    width: 185px;
    left: 5px !important;
}
table.uib-daypicker{
    width: 185px;
}
.uib-datepicker-popup .uib-weeks:first-child{
    max-width: 24px !important;
}
.uib-datepicker-popup .uib-day{
    min-width: 20px;
}
.uib-daypicker .uib-day .btn-sm{
    padding: 2px 4px !important;
    min-width: 10px;

}*/
i.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i.glyphicon.glyphicon-chevron-left:before {
     content: "\f104";
 }
i.glyphicon.glyphicon-chevron-right:before {
    content: "\f105";
}

.btn-info.active, .btn-info:active {
    background-color: #f73267;
    border-color: #ff3268;
}
.uib-daypicker .btn-info.active span.text-info{
    color: white;
}
.uib-daypicker .btn-group-sm > .btn, .btn-sm{
    border-radius: 0;
}
.uib-daypicker .btn{
    border-radius: 0;
}
.uib-daypicker .btn-info.active:hover {
    background-color: #5c8bde;
    border-color: #5c8bde;
}
