@media (min-width: 568px) {
    .search-clubs-box .card-name {
        font-size: 26px;
        text-align: center;
    }
    .search-clubs-box .card-address {
        font-size: 23px;
        text-align: center;
    }
    .search-clubs-box .card-miles {
        font-size: 23px;
        margin: 0px 0 25px 0;
        text-align: center;
    }
    .search-clubs-box .card-phone, .search-clubs-box .card-email, .search-clubs-box .card-website {
        font-size: 23px;
        text-align: center;
        line-height: 35px;
    }
    .teammates-filer-name {
        font-size: 26px !important;
        height: 60px !important;
    }
    .item-avatar .box-avatar {
        max-width: 60px;
        max-height: 60px;
    }
    .item-avatar .box-avatar>img {
        max-width: 60px;
        max-height: 60px;
    }
    .teammates-card label {
        width: 100%;
    }
    .teammates-card .item-avatar {
        min-height: 90px;
        padding-left: 100px;
        margin: 0;
    }
    .teammates-card .item-avatar h2 {
        font-size: 24px;
    }
    .paypalCredit-box .paypalCredit-group .cc-control {
        font-size: 26px;
    }
    .paypalCredit-box .paypalCredit-group label {
        font-size: 16px;
    }
    .paypalCredit-box .modal-btn {
        font-size: 22px;
    }
    .t_data-1 {
        width: 68%;
        float: left;
    }
    .t_data-2 {
        width: 28%;
        float: left;
        margin-left: 4%;
    }
    .invite_user-box .teammates-card .tooltip-inner {
        background-color: #f73267;
        font-size: 23px;
    }
    .invite_user-box .teammates-card .name_box span {
        font-size: 4.5vw;
        color: #444444;
    }
    .invite_user-box .invited_text {
        color: #45db5e;
        font-size: 3.5vw;
    }
    .invite_user-box .teammates-card .button {
        padding: 0 25px;
    }
    .manage-box .club-control label {
        font-size: 20px;
    }
    .manage-box .radio-box {
        width: 50%;
        height: 40px;
    }
    .manage-box .club-control input[type="radio"]+label {
        height: 40px;
        font-size: 20px;
        line-height: 38px;
    }
    .manage-box .club-control input {
        width: 100%;
        height: 40px;
        line-height: 38px;
        font-size: 20px;
    }
    .manage-box .head-text {
        font-size: 18px;
    }
    .hours-box .club-hour input[type="checkbox"]:checked+label {
        background: url(../img/radio.png) 0 10px no-repeat;
    }
    .hours-box .club-hour label {
        font-size: 24px;
        background: url(../img/radio.png) 0 -59px no-repeat;
    }
    .hours-box .select-hour select {
        width: 100px;
        height: 40px;
        font-size: 23px;
        background: url(../img/appearance_white.png) 75px 18px no-repeat;
    }
    .club-hour .not-selected {
        font-size: 20px;
        height: 100px;
    }
    #edit_club_btn, #edit_gym_btn {
        height: 50px;
        font-size: 25px;
    }
    .hours-box {
        padding: 0 12px;
    }
    .green_btn {
        height: 50px;
        font-size: 25px;
    }
    .club-item_box .court_name {
        font-size: 23px;
    }
    .club-item_box .court_access {
        font-size: 23px;
    }
    .club-item_box .court_price {
        font-size: 20px;
    }
    .club-item_box .court_number, .club-item_box .court_members {
        font-size: 20px;
    }
    #update_gym_btn {
        width: 100%;
        height: 50px;
        font-size: 26px;
    }
    .createdGames-box .game_cell {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 0 20px;
        font-size: 20px;
    }
    .createdGames-box .game_cell span {
        font: 400 20px/22px "Source Sans Pro", arial;
    }
    .gym-type-group label span {
        font-size: 20px;
    }
    .modal-btn {
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    .group-filters-gyms {
        height: 50px;
    }
    .all-filter label, .gym-filter label, .class-filter label {
        float: left;
        height: 50px;
        line-height: 48px;
        font-size: 23px;
    }
}

@media (max-width: 567px) {
    .sidebar-nav li.lobbies:before, .sidebar-nav li.create:before, .sidebar-nav li.teammates:before, .sidebar-nav li.messages:before, .sidebar-nav li.find_gums:before, .sidebar-nav li.find_club:before, .sidebar-nav li.find_:before, .sidebar-nav li.social:before, .sidebar-nav li.notifications:before, .sidebar-nav li.logout:before, .sidebar-nav li.manage:before, .sidebar-nav li.partner:before, .sidebar-nav li.games:before {
        margin-top: 14px;
    }
    .sidebar-nav li {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    .unreadN {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 16px;
        line-height: 20px;
        top: 8px;
        right: 20px;
    }
    .sidebar-firstname, .sidebar-lastname {
        font-size: 20px;
    }
    .address-box {
        font-size: 16px;
    }
    .sidebar-avatar {
        width: 100px;
        height: 100px;
        background: white;
        background-size: 50px;
    }
    .fa-filter {
        font-size: 25px !important;
        margin-top: 10px;
    }
    .ion-navicon-round {
        font-size: 27px !important;
    }
    .paypalCredit-box .paypalCredit-group .cc-control {
        font-size: 15px;
    }
    .paypalCredit-box .paypalCredit-group label {
        font-size: 11px;
    }
    .paypalCredit-box .modal-btn {
        font-size: 15px;
    }
    .logo-img {
        margin: 0 0 20px 0;
        padding-top: 30px;
    }
    .start_tpl .mobile-bg {
        margin-top: 0px;
    }
    .start_tpl .login-text {
        font-size: 18px;
        padding: 30px 12% 15px 12%;
    }
    .start_tpl a.start-button {
        font-size: 20px;
        padding: 15px 0 15px 0;
    }
    .form-group.login-group label {
        font-size: 16px;
    }
    .login-group .username-control, .login-group .password-control {
        height: 40px;
        font-size: 18px;
    }
    .prev-state {
        padding: 30px 25px 0 25px;
        font-size: 20px;
    }
    .button-signin, .button-signin-f {
        width: 90%;
        height: 50px;
        border-radius: 50px;
        line-height: 50px;
        font-size: 15px;
        margin: 30px auto !important;
    }
    .button-signin-f {
        margin-bottom: 15px;
    }
    .button-signin-f .fa {
        margin-top: -7px;
        left: 20px;
        font-size: 14px;
    }
    .button-signin-f:after {
        width: 14px;
        height: 13px;
        background: url("../img/right-arrow.png") center no-repeat;
        margin-top: -7px;
        right: 20px;
    }
    .login-forgot-pass, .login-signup {
        font-size: 12px;
    }
    .prev-state .view-title {
        font-size: 20px;
    }
    .prev-state .view-done {
        font-size: 18px;
    }
    .signup-box .upload-avatar {
        height: 150px;
    }
    .signup-head {
        width: 100%;
        height: 35vh;
        background: url("../img/m-signup-bg.jpg");
        background-size: cover;
        min-height: 190px;
    }
    .signup-box .upload-avatar .thumbnail {
        width: 85px;
        height: 85px;
        margin: 20px auto 0 auto;
        background: url(../img/hi-res/profile_pic@2x.png) 17px 20px no-repeat, white;
        background-size: 55%;
        display: none;
        padding: 0;
    }
    .signup-box .upload-avatar .thumbnail.thumbnail_ico {
        display: block;
    }
    .signup-box .sign-up-control, .forgot-control, .modal-control, .signup-box .label {
        height: 10vh;
        padding-left: 45px;
        line-height: 10vh;
        font-size: 15px;
        min-height: 48px;
    }
    .signup-box .required, .modal-required {
        background: url("../img/hi-res/reguared.png") 23px 50% no-repeat;
        background-size: 7px;
    }
    .signup-box select.sign-up-control, .dialog-select {
        background: url("../img/hi-res/reguared.png") 23px 50% no-repeat, url("../img/hi-res/apperance.png") 90% 35px no-repeat;
        background-size: 10px;
    }
    .signup-box select.sign-up-control:not(.required), .dialog-select:not(.modal-required) {
        background: url(../img/hi-res/apperance.png) 90% 50% no-repeat;
        background-size: 8px;
    }
    /**/
    .signup-box .day-control, .signup-box .mon-control, .signup-box .year-control, .signup-box .ft-control, .signup-box .in-control {
        height: 40px;
        margin: 20px 5px;
        border-radius: 15px;
        padding: 0 10px;
        font-size: 20px;
    }
    .signup-box .day-control {
        width: 50px;
        background: url("../img/hi-res/apperance.png") 85% 15px no-repeat, url("../img/day.png") bottom center no-repeat;
        background-size: 10px;
    }
    .signup-box .mon-control {
        width: 50px;
        background: url("../img/hi-res/apperance.png") 85% 15px no-repeat, url("../img/mon.png") bottom center no-repeat;
        background-size: 10px;
    }
    .signup-box .year-control {
        width: 75px;
        background: url("../img/hi-res/apperance.png") 85% 15px no-repeat, url("../img/year.png?v1") bottom center no-repeat;
        background-size: 10px;
    }
    .signup-box .b-left {
        border-left: 1px solid #f5f5f5;
    }
    .signup-box .ft-control, .signup-box .in-control {
        min-width: 60px;
        background: url("../img/hi-res/apperance.png") 85% 15px no-repeat;
        background-size: 10px;
    }
    .required-text {
        line-height: 50px;
        font-size: 15px;
        color: #f73267;
        padding-left: 12px;
        font-weight: 300;
    }
    .required-text em {
        font-size: 30px;
    }
    .signup-box button.get-started:after {
        width: 14px;
        height: 13px;
        display: inline-block;
        content: '';
        background: url("../img/right-arrow.png") center no-repeat;
        margin-left: 15px;
    }
    .signup-box button.get-started {
        height: 15vh;
        min-height: 70px;
        font-size: 20px;
    }
    .icon-bg {
        font-size: 1.8em;
        margin-top: 0px;
    }
    .item-content-box .time, .item-content-box .address {
        font-size: 16px;
        white-space: normal;
        line-height: 20px;
    }
    .item-complex .item-content, .item-radio .item-content {
        position: relative;
        z-index: 2;
        padding: 6px 6px 6px 6px;
        border: none;
        /* background-color: #fff; */
    }
    .t_game-card .members_count, .game-card .members_count {
        margin-top: 2px;
    }
    .t_game-card .members_count .col_count, .game-card .members_count .col_count {
        height: 20px;
    }
    .t_game-card .members_count .col_count, .game-card .members_count .col_count {
        width: 2px;
        height: 16px;
    }
    .game-card .item-content-box {
        margin: 0 !important;
    }
    .sport-img-box {
        width: 25%;
        height: 64px;
    }
    .tab-group>label {
        margin: 0px 0 5px 0;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        display: block;
    }
    .tab-group input.tab-lobby+label {
        margin: 0px 0 5px 0;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        display: block;
    }
    .tab-group .dropdown .tab-btn {
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        border-radius: 0 10px 10px 0;
    }
    .tab-group .dropdown-box {
        margin: 0px 0 5px 0;
    }
    .dropdown-box .dropdown-menu .tab-group {
        height: 40px;
    }
    .dropdown-box .dropdown-menu .tab-group label {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
    }
    .lobby_slider {
        margin-top: 0px;
    }
    .lobby_slider .icon-bg {
        font-size: 1em;
    }
    .lobby_slider .sport_name {
        font-size: 30px;
        color: #ffffff;
    }
    .lobby_slider .name, .lobby_slider .time, .lobby_slider .address {
        color: #5781ce;
        font-size: 18px;
    }
    .lobby_slider .members_avatar .avatar {
        width: 40px !important;
        height: 40px !important;
    }
    .lobby_slider .members_avatar {
        width: 60%;
        height: 40px !important;
        margin: 40px auto 30px auto !important;
    }
    .game-card .join-btn, .game-card .watch-btn, .view-mage-btn {
        width: 100%;
        height: 45px;
        border-radius: 40px;
        box-sizing: border-box;
        line-height: 45px;
        font-size: 18px;
    }
    .game-card .join-btn:after {
        content: url(../img/green-arrow.png);
    }
    .game-card .reserve-btn {
        width: 100%;
        height: 45px;
        border-radius: 40px;
        line-height: 45px;
        font-size: 18px;
    }
    .game-card .reserve-btn:after {
        display: inline-block;
        content: url("../img/red-arrow.png");
        margin-left: 10%;
    }
    .lobby_slider .max_countMembers {
        width: 24px !important;
        font-size: 18px;
    }
    .lobby_slider .watch_count {
        font-size: 14px !important;
    }
    .game-card .watch_count {
        margin-top: -15px;
    }
    .game-box .item-options .btn_icon {
        width: 70px;
        margin: 0;
    }
    .game-card .green_price {
        font-size: 14px;
    }
    .game-card .red_price {
        font-size: 14px;
    }
    .game-box .item-options .joined_bg i {
        font-size: 30px;
    }
    .game-box .item-options .watch_bg i {
        font-size: 30px;
    }
    .btn_icon img {
        width: 35px;
    }
    .game-box .item-options .btn-label {
        font-size: 15px;
        line-height: 10px;
    }
    .tab-group .dropdown .tab-btn .caret {
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-left: 15px;
    }
    .tab-bg ion-slides {
        height: 700px;
    }
    .join_tpl ion-slides, .reserve_tpl ion-slides {
        height: 900px !important;
    }
    .view-title {
        font-size: 18px;
    }
    .clear-btn {
        height: 40px;
        font-size: 18px;
    }
    .filter-group label {
        width: 30px;
        height: 30px;
    }
    .filter-title {
        font-size: 15px;
    }
    .distance-box .filter-radio-group {
        height: 35px;
    }
    .distance-group .distance5, .distance-group .distance10, .distance-group .distance25 {
        height: 31px;
        line-height: 31px;
        font-size: 15px;
    }
    .filter-group .filter-name {
        height: 35px;
    }
    .rzslider .rz-pointer {
        top: -15px;
        width: 30px;
        height: 30px;
    }
    .distance-group .sortSoonest, .distance-group .sortNearest {
        height: 31px;
        line-height: 31px;
        font-size: 15px;
    }
    .clock-tik {
        height: 35px;
        font-size: 17px;
        border-radius: 5px;
        line-height: 32px;
    }
    .sidebar-content {
        width: 225px;
    }
    .right-sidebar {
        width: 225px;
    }
    ion-view.toggled {
        -webkit-transform: translate3d(-225px, 0, 0);
        transform: translate3d(-225px, 0, 0);
    }
    .filter-group label {
        margin: 12px 8px 0 8px;
    }
    .search-clubs-box .card-sports-group .card-sport {
        height: 35px;
    }
    .lg {
        display: none;
    }
    .search-clubs-box .card-name {
        text-align: center;
    }
    .search-clubs-box .card-address {
        text-align: center;
        margin-top: 5px;
    }
    .search-clubs-box .card-miles {
        text-align: center;
        margin-top: 10px;
    }
    .search-clubs-box .card-phone, .search-clubs-box .card-email, .search-clubs-box .card-website {
        text-align: center;
    }
    .search-clubs-box .card-members {
        font-size: 14px;
    }
    .search-clubs-box .card-more {
        font-family: "Source Sans Pro", arial;
        font-size: 14px;
    }
    .item-avatar .box-avatar {
        max-width: 40px;
        max-height: 40px;
    }
    .item-avatar .box-avatar>img {
        max-width: 40px;
        max-height: 40px;
    }
    .teammates-card label {
        width: 100%;
    }
    .teammates-card .item-avatar {
        min-height: 70px;
        padding-left: 70px;
        margin: 0;
    }
    .teammates-card .item-avatar h2 {
        font-size: 16px;
    }
    .teammates-card .item-avatar h2+div {
        font-size: 14px;
    }
    .count-teammates {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    .invite_btn {
        line-height: 40px;
        font-size: 20px;
        height: 50px;
    }
    .invite_btn .invite-text {
        display: none;
    }
    .invite_btn span.invite_count {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    .teammate-card .t_box-avatar {
        width: 85px !important;
        height: 85px !important;
    }
    .teammate-card .t_avatar {
        width: 75px !important;
        height: 75px !important;
    }
    .teammate-card .t_fio {
        font-size: 20px;
    }
    .teammate-card .t_address {
        font-size: 16px;
    }
    .t_data-1 .t_head, .t_data-2 .t_head, .t_data-1 .t_data-val, .t_data-2 .t_data-val {
        font-size: 11px;
        text-align: center;
    }
    .teammates-box ion-slides {
        height: 760px;
    }
    .teammates-box .swiper-wrapper {
        height: auto;
    }
    .teammate-card .t_data-blue {
        font-family: "Source Sans Pro", arial;
        font-size: 11px;
        line-height: 18px;
    }
    .view-mage-btn {
        height: 40px;
        border-radius: 40px;
        box-sizing: border-box;
        line-height: 40px;
        margin-top: 20px;
    }
    .teammate-card .t-tabs-box .t-tab label {
        height: 40px;
        font-size: 15px;
        line-height: 40px;
    }
    .t_game-card .t_name {
        font-size: 16px;
    }
    .t_game-card .t_address-game {
        font-size: 12px;
    }
    .teammate-card .t_distance {
        font-size: 11px;
    }
    .t_game-card .members_count {
        margin-top: 0;
    }
    .t_game-card .members_count .col_count {
        width: 2px;
        height: 15px;
    }
    .turn_label {
        font-size: 15px;
        line-height: 42px;
    }
    .messages-box .btn_icon {
        font-size: 16px;
    }
    .messages-box .btn_icon i {
        font-size: 30px;
    }
    .messages-box ion-option-button.button {
        padding: 0 20px;
    }
    .msg_unreadCount {
        padding: 5px 8px;
        font-size: 8px;
    }
    .previous-btn {
        padding-left: 25px;
        font-size: 20px;
    }
    .chatGameInfo .sport {
        font-size: 14px !important;
    }
    .chatGameInfo .address {
        width: 100%;
        font-size: 15px !important;
    }
    .chatGameInfo .start_time {
        width: 100%;
        font-size: 15px !important;
    }
    .manage-box {
        padding: 0 5px;
    }
    .club-item_box .court_price {
        width: 100%;
        float: none;
    }
}

@media (max-width: 467px) {
    .search-clubs-box .card-sports-group .card-sport {
        height: 30px;
    }
}
